*,:before,:after {margin: 0; padding: 0; color: inherit; text-decoration: inherit; font-style: inherit; border: 0 solid transparent; outline: 0 solid transparent; background: transparent none center center no-repeat; box-sizing: border-box;}
ul, ol, li {list-style: none;}
table {table-layout: fixed;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}
label, button, [type=button], [type=submit], [type=reset], a {cursor: pointer;}
img {display: block;}
.ellipsis {
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}