$sprite-map: (
sp_icon: (
  width: 92px,
  height: 92px,
  url: url(../img/sp/sp_icon.png),
  images: (
    arrow_left_32x32_black: (
      offset_x: 0px,
      offset_y: 0px,
      width: 32px,
      height: 32px
    ),
    arrow_right_32x32_black: (
      offset_x: -32px,
      offset_y: 0px,
      width: 32px,
      height: 32px
    ),
    blog_28x28_green: (
      offset_x: -32px,
      offset_y: -32px,
      width: 28px,
      height: 28px
    ),
    cafe_27x29_green: (
      offset_x: -64px,
      offset_y: -28px,
      width: 27px,
      height: 29px
    ),
    favorite_27x28_green: (
      offset_x: 0px,
      offset_y: -64px,
      width: 27px,
      height: 28px
    ),
    home-32x32_black: (
      offset_x: 0px,
      offset_y: -32px,
      width: 32px,
      height: 32px
    ),
    home_21x21_white: (
      offset_x: -53px,
      offset_y: -64px,
      width: 21px,
      height: 21px
    ),
    lock_15x15_black: (
      offset_x: -74px,
      offset_y: -64px,
      width: 15px,
      height: 15px
    ),
    note_28x28_green: (
      offset_x: -64px,
      offset_y: 0px,
      width: 28px,
      height: 28px
    ),
    share_26x25_share: (
      offset_x: -27px,
      offset_y: -64px,
      width: 26px,
      height: 25px
    ),
  )
)


,
);

@mixin sprite-image($image-name, $image-group-name) {
  $icon-sprite-map: map-get($sprite-map, sp_#{$image-group-name});
  $icon-map: map-get($icon-sprite-map, images);
  $image-map: map-get($icon-map, #{$image-name});

  $size: map-get($icon-sprite-map, width) map-get($icon-sprite-map, height);
  $width: map-get($image-map, width);
  $height: map-get($image-map, height);
  $url: map-get($icon-sprite-map, url);
  $offset: map-get($image-map, offset_x) map-get($image-map, offset_y);
  
  width: $width;
  height: $height;
  background: transparent $url $offset/$size;
}
