$sprite-map: (
sp_png_icon_two: (
  width: 507px,
  height: 480px,
  url: url(../img/sp/sp_png_icon_two.png),
  images: (
    blog: (
      offset_x: -480px,
      offset_y: 0px,
      width: 27px,
      height: 27px
    ),
    house-outline: (
      offset_x: 0px,
      offset_y: 0px,
      width: 480px,
      height: 480px
    ),
  )
)


,
sp_png_icon: (
  width: 507px,
  height: 480px,
  url: url(../img/sp/sp_png_icon.png),
  images: (
    blog: (
      offset_x: -480px,
      offset_y: 0px,
      width: 27px,
      height: 27px
    ),
    house-outline: (
      offset_x: 0px,
      offset_y: 0px,
      width: 480px,
      height: 480px
    ),
  )
)


,
);

@mixin sprite-image($image-name, $image-group-name) {
  $icon-sprite-map: map-get($sprite-map, sp_#{$image-group-name});
  $icon-map: map-get($icon-sprite-map, images);
  $image-map: map-get($icon-map, #{$image-name});

  $size: map-get($icon-sprite-map, width) map-get($icon-sprite-map, height);
  $width: map-get($image-map, width);
  $height: map-get($image-map, height);
  $url: map-get($icon-sprite-map, url);
  $offset: map-get($image-map, offset_x) map-get($image-map, offset_y);
  
  width: $width;
  height: $height;
  background: transparent $url $offset/$size;
}
