*, :before, :after {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: inherit;
  font-style: inherit;
  border: 0 solid transparent;
  outline: 0 solid transparent;
  background: transparent none center center no-repeat;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

table {
  table-layout: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

label, button, [type=button], [type=submit], [type=reset], a {
  cursor: pointer;
}

img {
  display: block;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.inner {
  display: block;
  position: relative;
  margin: auto;
  width: 1280px;
  height: 100%;
}

.hd_top {
  position: relative;
  height: 36px;
  background: url(../img/bg_gheader.dfb78f0a.jpg) no-repeat 100% 0;
}

.hd_top a {
  display: block;
  width: 100%;
  height: 100%;
}

.hd_top .naver {
  float: left;
  margin-top: 11px;
  width: 48px;
  height: 13px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -358px -234px;
}

.hd_top .naverpay {
  float: left;
  margin: 11px 0 0 20px;
  width: 67px;
  height: 13px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -77px -253px;
}

.hd_top .gnb_right {
  float: right;
  padding-top: 8px;
}

.hd_top .gnb_right::after {
  display: block;
  clear: both;
  content: '';
}

.hd_top .gnb_right .login {
  float: left;
}

.hd_top .gnb_right .login a {
  display: block;
  width: 45px;
  height: 20px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.hd_top .gnb_right .service {
  float: left;
  margin: 1px 0 0 15px;
  width: 18px;
  height: 18px;
  background-image: url(../img/sp_gnb_v14.png);
  background-position: -261px -120px;
}

.hd_top::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.hd_mid {
  height: 66px;
  background: url(../img/bg_gheader.dfb78f0a.jpg) no-repeat 100% 0;
}

.hd_mid .logo {
  float: left;
  padding-top: 18px;
  margin-right: 18px;
}

.hd_mid .logo a {
  display: block;
  width: 68px;
  height: 28px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: 0 -183px;
}

.hd_mid form {
  float: left;
  padding-top: 16px;
}

.hd_mid fieldset {
  width: 430px;
  height: 34px;
  background-color: #olive;
}

.hd_mid .searchwrap {
  overflow: hidden;
  float: left;
  width: 430px;
  padding-top: 18px;
}

.hd_mid .searchwrap input {
  float: left;
  width: 267px;
  height: 32px;
  background-color: #fff;
}

.hd_mid .searchwrap .more_btn {
  float: left;
  width: 31px;
  height: 32px;
  background-color: #fff;
}

.hd_mid .searchwrap .more_btn span {
  width: 7px;
  height: 4px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -413px -151px;
}

.hd_mid .searchwrap .search_btn button {
  float: left;
  width: 50px;
  height: 34px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: 0 -215px;
}

.hd_mid .category {
  float: left;
  padding-top: 20px;
}

.hd_mid .category button {
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
}

.hd_mid .category .cate_digital {
  width: 97px;
  height: 26px;
  background-position: -101px -123px;
}

.hd_mid .category .cate_kids {
  margin-left: 7px;
  width: 69px;
  height: 26px;
  background-position: -72px -183px;
}

.hd_mid .category .cate_more {
  margin-left: 10px;
  width: 114px;
  height: 26px;
  background-position: -118px -93px;
}

.hd_mid .btn {
  position: absolute;
  top: 26px;
  right: 20px;
}

.hd_mid .btn a {
  float: left;
  width: 60px;
  height: 14px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -292px -238px;
}

.hd_mid .btn .allmall {
  position: relative;
  margin-left: 27px;
  background-position: -292px -166px;
}

.hd_mid .btn a + a::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -13px;
  display: block;
  width: 1px;
  height: 14px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -413px -170px;
}

.hd_mid .btn .shoppingmy {
  position: relative;
  margin-left: 27px;
  width: 80px;
  background-position: -13px -160px;
}

.hd_btm nav {
  overflow: hidden;
  font-size: 0;
}

.hd_btm nav ul {
  display: inline-block;
  color: transparent;
}

.hd_btm nav ul li {
  float: left;
}

.hd_btm nav ul li span {
  display: block;
  height: 15px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
}

.hd_btm nav ul li a {
  display: block;
  padding: 15px 8px;
  width: 100%;
  height: 100%;
}

.hd_btm nav ul .manu1 span {
  width: 15px;
  background-position: -81px -364px;
}

.hd_btm nav ul .manu2 span {
  width: 61px;
  background-position: -292px -57px;
}

.hd_btm nav ul .manu3 span {
  width: 61px;
  background-position: -202px -271px;
}

.hd_btm nav ul .manu4 span {
  width: 61px;
  background-position: -292px -19px;
}

.hd_btm nav ul .manu5 span {
  width: 73px;
  background-position: -54px -234px;
}

.hd_btm nav ul .manu6 span {
  width: 51px;
  background-position: -0px -308px;
}

.hd_btm nav ul .manu7 span {
  width: 51px;
  background-position: -54px -327px;
}

.hd_btm nav ul .manu8 span {
  width: 51px;
  background-position: -108px -327px;
}

.hd_btm nav ul .manu9 span {
  width: 51px;
  background-position: -220px -308px;
}

.hd_btm nav ul .manu10 span {
  width: 38px;
  background-position: -358px -305px;
}

.hd_btm nav ul .manu11 span {
  width: 64px;
  background-position: -68px -271px;
}

.hd_btm nav ul .manu12 span {
  width: 51px;
  background-position: -110px -308px;
}

.hd_btm nav ul .manu13 span {
  position: relative;
  margin-left: 20px;
  width: 27px;
  background-position: -31px -364px;
}

.hd_btm nav ul .manu13 span::before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: -18px;
  width: 1px;
  height: 13px;
  background-color: #ddd;
}

.hd_btm nav ul .manu14 span {
  width: 51px;
  background-position: -235px -215px;
}

.hd_btm nav ul .manu15 span {
  width: 37px;
  background-position: -244px -136px;
}

.hd_btm .artwin_search {
  position: absolute;
  margin-top: 7px;
  top: 0;
  right: 0;
  width: 215px;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.hd_btm .artwin_search input {
  padding: 7px 0 0 15px;
  font-size: 14px;
}

.hd_btm .artwin_search .search_icon {
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
  width: 19px;
  height: 18px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -214px -36px;
}

.content .section {
  padding: 70px 0;
}

.content .section .section_title {
  position: relative;
  color: #212121;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.content .section .section_title::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 570px;
  width: 4px;
  height: 12px;
  transform: skewx(-30deg);
  background-color: #89bb6d;
}

.content .section .section_title::after {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  right: 570px;
  width: 4px;
  height: 12px;
  transform: skewx(-30deg);
  background-color: #89bb6d;
}

.content .section .moreview {
  position: relative;
  height: 40px;
}

.content .section .moreview a {
  font-size: 14px;
  position: absolute;
  right: 0;
  padding-right: 25px;
}

.content .section .moreview a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 17px;
  background-image: url(../img/spSw_window_svg.svg);
  background-size: 628px 615px;
  background-position: -336px -546px;
}

.content .section .list_art {
  text-align: center;
  font-size: 0;
}

.content .section .list_art .item_art {
  display: inline-block;
  padding: 0 5.5px 30px 5.5px;
  text-align: left;
}

.content .section .list_art .item_art a {
  display: block;
}

.content .section .list_art .item_art .thumb {
  overflow: hidden;
  position: relative;
  width: 202px;
  height: 260px;
  border: 1px solid #ddd;
}

.content .section .list_art .item_art .thumb img {
  position: absolute;
  top: -50%;
  left: -50%;
  bottom: -50%;
  right: -50%;
  margin: auto;
  width: auto;
  height: 100%;
}

.content .section .list_art .item_art .thumb button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  background-image: url(../img/spSw_window_list_svg.svg);
  background-size: 267px 214px;
  background-position: -42px -180px;
}

.content .section .list_art .item_art .price {
  display: block;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.content .section .list_art .item_art .info {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 10px;
  padding-bottom: 50px;
  color: #222;
  font-size: 12px;
}

.content .section .list_art .item_art .made {
  overflow: hidden;
  padding-top: 12px;
  border-top: 1px solid #ddd;
}

.content .section .list_art .item_art .made .made_logo {
  float: left;
}

.content .section .list_art .item_art .made .made_logo img {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.content .section .list_art .item_art .made span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 32px;
  text-indent: 10px;
  color: #666;
}

.content .section .list_art .item_art:hover .thumb {
  border-color: #89bb6d;
}

.content .content_nav {
  height: 48px;
  text-align: center;
  color: #fff;
  background-color: #89bb6d;
}

.content .content_nav li {
  display: inline-block;
}

.content .content_nav li a {
  display: block;
  padding: 15px 25px;
}

.content .visual {
  overflow: hidden;
}

.content .visual .view_visual {
  position: relative;
  width: 1162px;
  height: 325px;
  margin: 0 auto;
}

.content .visual .view_visual button {
  position: absolute;
  top: 135px;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
}

.content .visual .view_visual .prev {
  left: -60px;
}

.content .visual .view_visual .next {
  right: -60px;
}

.content .visual .view_visual .introduce {
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px;
  width: 400px;
  height: 325px;
  background-color: rgba(255, 255, 255, 0.8);
}

.content .visual .view_visual .introduce .banner {
  display: block;
  width: 80px;
  height: 80px;
  color: #fff;
  text-align: center;
  line-height: 80px;
  background-color: #333;
}

.content .visual .view_visual .introduce strong {
  display: block;
  margin-top: 50px;
  color: #333;
  font-size: 40px;
}

.content .visual .view_visual .list_visual {
  overflow: hidden;
  width: 4648px;
}

.content .visual .view_visual .list_visual .item_visual {
  float: left;
  width: 1162px;
  height: 325px;
}

.content .visual .view_visual .list_visual .no1 {
  background-image: url(../img/visual_01.jpeg);
}

.content .visual .view_visual .list_visual .no2 {
  background-image: url(../img/visual_02.jpg);
}

.content .visual .view_visual .list_visual .no3 {
  background-image: url(../img/visual_03.jpg);
}

.content .visual .view_visual .list_visual .no4 {
  background-image: url(../img/visual_04.jpeg);
}

.content .visual .visual_nav {
  padding: 20px 0;
  background-color: #f6f6f6;
}

.content .visual .visual_nav ul {
  text-align: center;
  font-size: 0;
}

.content .visual .visual_nav ul a {
  display: block;
}

.content .visual .visual_nav ul li {
  display: inline-block;
  width: 64px;
  height: 90px;
  color: #666;
  font-size: 14px;
  font-weight: bold;
}

.content .visual .visual_nav ul li .thumb {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-image: url(../img/spSw_category_art_png.png);
  background-size: 200px 200px;
}

.content .visual .visual_nav ul li .text {
  display: block;
  margin-top: 10px;
}

.content .visual .visual_nav ul li + li {
  margin-left: 30px;
}

.content .visual .visual_nav ul .visual_nav_manu1 .thumb {
  background-position: -136px -136px;
}

.content .visual .visual_nav ul .visual_nav_manu2 .thumb {
  background-position: 0px -136px;
}

.content .visual .visual_nav ul .visual_nav_manu4 .thumb {
  background-position: -68px 0px;
}

.content .visual .visual_nav ul .visual_nav_manu5 .thumb {
  background-position: -136px -68px;
}

.content .visual .visual_nav ul .visual_nav_manu6 .thumb {
  background-position: -68px -136px;
}

.content .visual .visual_nav ul .visual_nav_manu7 .thumb {
  background-position: -136px 0px;
}

.content .visual .visual_nav ul .visual_nav_manu8 .thumb {
  background-position: 0px -68px;
}

.content .week .list_designer {
  overflow: hidden;
}

.content .week .list_designer li + li {
  margin-left: 13px;
}

.content .week .list_designer .item_designer {
  float: left;
  position: relative;
  width: 418px;
  height: 376px;
  border: 1px solid #ddd;
  background-size: cover;
  background-position: 0 0;
}

.content .week .list_designer .item_designer .click {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.content .week .list_designer .item_designer .introduce {
  margin: 69px 0 0 190px;
  width: 180px;
  height: 85px;
}

.content .week .list_designer .item_designer .introduce strong {
  display: block;
  margin-bottom: 10px;
  font-size: 30px;
}

.content .week .list_designer .item_designer .introduce span {
  color: #666;
  font-size: 17px;
}

.content .week .list_designer .item_designer .works {
  position: absolute;
  left: 0;
  bottom: 20px;
  display: inline-block;
  width: 418px;
  font-size: 0;
  text-align: center;
  z-index: 2;
}

.content .week .list_designer .item_designer .works a {
  display: inline-block;
  margin: 3px;
}

.content .week .list_designer .item_designer .works a img {
  display: block;
  width: 116px;
  height: 116px;
  border: 1px solid #ddd;
}

.content .week .list_designer .no1 {
  background-image: url(../img/designer_no1.jpg);
}

.content .week .list_designer .no2 {
  background-image: url(../img/designer_no2.jpg);
}

.content .week .list_designer .no3 {
  background-image: url(../img/designer_no3.jpg);
}

.content .gallery {
  padding-bottom: 100px;
}

.content .gallery .list_gallery {
  font-size: 0;
}

.content .gallery .list_gallery li + li {
  margin-left: 13px;
}

.content .gallery .list_gallery .item_gallery {
  position: relative;
  display: inline-block;
  width: 418px;
  height: 251px;
}

.content .gallery .list_gallery .item_gallery a {
  display: block;
  width: 100%;
  height: 100%;
}

.content .gallery .list_gallery .item_gallery .introduce {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 389px;
  height: 51px;
  font-size: 18px;
  line-height: 51px;
  text-indent: 20px;
  background-color: #fff;
  opacity: 0.9;
}

.content .gallery .list_gallery .item_gallery .introduce span {
  color: #666;
}

.content .gallery .list_gallery .no1 {
  background-image: url(../img/gallery_no1.jpg);
}

.content .gallery .list_gallery .no2 {
  background-image: url(../img/gallery_no2.jpg);
}

.content .gallery .list_gallery .no3 {
  background-image: url(../img/gallery_no3.jpg);
}

footer {
  padding-top: 30px;
  font-size: 12px;
  color: #333;
  text-align: center;
  border: 1px solid #ebebeb;
}

footer .policy {
  margin-bottom: 15px;
}

footer .policy .list {
  position: relative;
  margin-left: 10px;
}

footer .policy a + a::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -6px;
  display: block;
  width: 1px;
  height: 11px;
  background-color: #d7d7d7;
}

footer .text {
  margin-bottom: 15px;
  color: #888;
}

footer address {
  margin-bottom: 15px;
  line-height: 20px;
}

footer address span, footer address a {
  position: relative;
  margin-left: 10px;
}

footer address .line::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -6px;
  display: block;
  width: 1px;
  height: 11px;
  background-color: #d7d7d7;
}

footer address a:hover {
  text-decoration: underline;
  color: #00ab0b;
}

footer .copyright {
  margin-bottom: 30px;
}

footer .copyright .logo {
  display: inline-block;
  margin-right: 7px;
  width: 63px;
  height: 11px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -148px -253px;
}
