*, :before, :after {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: inherit;
  font-style: inherit;
  border: 0 solid transparent;
  outline: 0 solid transparent;
  background: transparent none center center no-repeat;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

table {
  table-layout: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

label, button, [type=button], [type=submit], [type=reset], a {
  cursor: pointer;
}

img {
  display: block;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

header .hd_top {
  position: relative;
  height: 36px;
  background: url(../img/bg_gheader.dfb78f0a.jpg) no-repeat 100% 0;
}

header .hd_top .hd_top_in {
  display: block;
  width: 100%;
  height: 100%;
}

header .hd_top .naver {
  float: left;
  margin-top: 11px;
  width: 48px;
  height: 13px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -358px -234px;
}

header .hd_top .naverpay {
  float: left;
  margin: 11px 0 0 20px;
  width: 67px;
  height: 13px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -77px -253px;
}

header .hd_top .gnb_right {
  float: right;
  padding-top: 8px;
}

header .hd_top .gnb_right::after {
  display: block;
  clear: both;
  content: '';
}

header .hd_top .gnb_right .login {
  float: left;
}

header .hd_top .gnb_right .login a {
  display: block;
  width: 45px;
  height: 20px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

header .hd_top .gnb_right .service {
  float: left;
  margin: 1px 0 0 15px;
  width: 18px;
  height: 18px;
  background-image: url(../img/sp_gnb_v14.png);
  background-position: -261px -120px;
}

header .hd_top::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

header .hd_mid {
  height: 66px;
  background: url(../img/bg_gheader.dfb78f0a.jpg) no-repeat 100% 0;
}

header .hd_mid .logo {
  float: left;
  padding-top: 18px;
  margin-right: 18px;
}

header .hd_mid .logo .logo_in {
  display: block;
  width: 68px;
  height: 28px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: 0 -183px;
}

header .hd_mid form {
  float: left;
  padding-top: 16px;
}

header .hd_mid fieldset {
  width: 430px;
  height: 34px;
  background-color: #olive;
}

header .hd_mid .searchwrap {
  overflow: hidden;
  float: left;
  width: 430px;
  padding-top: 18px;
}

header .hd_mid .searchwrap input {
  float: left;
  width: 267px;
  height: 32px;
  background-color: #fff;
}

header .hd_mid .searchwrap .more_btn {
  float: left;
  width: 31px;
  height: 32px;
  background-color: #fff;
}

header .hd_mid .searchwrap .more_btn span {
  width: 7px;
  height: 4px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -413px -151px;
}

header .hd_mid .searchwrap .search_btn button {
  float: left;
  width: 50px;
  height: 34px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: 0 -215px;
}

header .hd_mid .searchwrap .detail_btn {
  float: left;
  position: relative;
  margin: 8px 12px;
  width: 43px;
  height: 14px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -358px -287px;
}

header .hd_mid .searchwrap .detail_btn::after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  right: -15px;
  border: 4px solid transparent;
  border-top-color: #fff;
}

header .hd_mid .category {
  float: left;
  padding-top: 20px;
}

header .hd_mid .category .category_in {
  display: block;
  width: 100%;
  height: 100%;
}

header .hd_mid .category button {
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
}

header .hd_mid .category .cate_digital {
  width: 97px;
  height: 26px;
  background-position: -101px -123px;
}

header .hd_mid .category .cate_kids {
  margin-left: 7px;
  width: 69px;
  height: 26px;
  background-position: -72px -183px;
}

header .hd_mid .category .cate_more {
  margin-left: 10px;
  width: 114px;
  height: 26px;
  background-position: -118px -93px;
}

header .hd_mid .btn {
  position: absolute;
  top: 26px;
  right: 20px;
}

header .hd_mid .btn a {
  float: left;
  width: 60px;
  height: 14px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -292px -238px;
}

header .hd_mid .btn .allmall {
  position: relative;
  margin-left: 27px;
  background-position: -292px -166px;
}

header .hd_mid .btn a + a::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -13px;
  display: block;
  width: 1px;
  height: 14px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -413px -170px;
}

header .hd_mid .btn .shoppingmy {
  position: relative;
  margin-left: 27px;
  width: 80px;
  background-position: -13px -160px;
}

header .hd_btm nav {
  overflow: hidden;
  font-size: 0;
}

header .hd_btm nav .menu_wrap {
  float: left;
}

header .hd_btm nav .menu_wrap .menu {
  display: inline-block;
}

header .hd_btm nav .menu_wrap .menu .menu_in {
  display: block;
  height: 15px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
}

header .hd_btm nav .menu_wrap .menu .menu_detail {
  display: block;
  padding: 15px 8px;
  width: 100%;
  height: 100%;
}

header .hd_btm nav .menu_wrap .menu:nth-of-type(1) .menu_in {
  width: 15px;
  background-position: -81px -364px;
}

header .hd_btm nav .menu_wrap .menu:nth-of-type(2) .menu_in {
  width: 61px;
  background-position: -292px -57px;
}

header .hd_btm nav .menu_wrap .menu:nth-of-type(3) .menu_in {
  width: 61px;
  background-position: -202px -271px;
}

header .hd_btm nav .menu_wrap .menu:nth-of-type(4) .menu_in {
  width: 61px;
  background-position: -292px -19px;
}

header .hd_btm nav .menu_wrap .menu:nth-of-type(5) .menu_in {
  width: 73px;
  background-position: -54px -234px;
}

header .hd_btm nav .menu_wrap .menu:nth-of-type(6) .menu_in {
  width: 51px;
  background-position: -0px -308px;
}

header .hd_btm nav .menu_wrap .menu:nth-of-type(7) .menu_in {
  width: 51px;
  background-position: -54px -327px;
}

header .hd_btm nav .menu_wrap .menu:nth-of-type(8) .menu_in {
  width: 51px;
  background-position: -108px -327px;
}

header .hd_btm nav .menu_wrap .menu:nth-of-type(9) .menu_in {
  width: 51px;
  background-position: -220px -308px;
}

header .hd_btm nav .menu_wrap .menu:nth-of-type(10) .menu_in {
  width: 38px;
  background-position: -358px -305px;
}

header .hd_btm nav .menu_wrap .menu:nth-of-type(11) .menu_in {
  width: 64px;
  background-position: -68px -271px;
}

header .hd_btm nav .menu_wrap .menu:nth-of-type(12) .menu_in {
  width: 51px;
}

header .hd_btm nav .menu_wrap .menu:nth-of-type(13) .menu_in {
  position: relative;
  margin-left: 20px;
  width: 27px;
  background-position: -31px -364px;
}

header .hd_btm nav .menu_wrap .menu:nth-of-type(13) .menu_in::before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: -18px;
  width: 1px;
  height: 13px;
  background-color: #ddd;
}

header .hd_btm nav .menu_wrap .menu:nth-of-type(14) .menu_in {
  width: 51px;
  background-position: -235px -215px;
}

header .hd_btm nav .menu_wrap .menu:nth-of-type(15) .menu_in {
  width: 37px;
  background-position: -244px -136px;
}

header .hd_btm nav .menu_wrap .on .menu_in {
  position: relative;
  width: 51px;
  background-position: -55px -308px;
}

header .hd_btm nav .menu_wrap .on .menu_in::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #4cc370;
}

header .hd_btm .artwin_search {
  position: absolute;
  margin-top: 7px;
  top: 0;
  right: 0;
  width: 215px;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

header .hd_btm .artwin_search input {
  padding: 7px 0 0 15px;
  font-size: 14px;
}

header .hd_btm .artwin_search .search_icon {
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
  width: 19px;
  height: 18px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -214px -36px;
}

footer {
  padding-top: 30px;
  font-size: 12px;
  color: #333;
  text-align: center;
  border: 1px solid #ebebeb;
}

footer .policy {
  margin-bottom: 15px;
}

footer .policy .list {
  position: relative;
  margin-left: 10px;
}

footer .policy a + a::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -6px;
  display: block;
  width: 1px;
  height: 11px;
  background-color: #d7d7d7;
}

footer .text {
  margin-bottom: 15px;
  color: #888;
}

footer address {
  margin-bottom: 15px;
  line-height: 20px;
}

footer address span, footer address a {
  position: relative;
  margin-left: 10px;
}

footer address .line::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -6px;
  display: block;
  width: 1px;
  height: 11px;
  background-color: #d7d7d7;
}

footer address a:hover {
  text-decoration: underline;
  color: #00ab0b;
}

footer .copyright {
  margin-bottom: 30px;
}

footer .copyright .logo {
  display: inline-block;
  margin-right: 7px;
  width: 63px;
  height: 11px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -148px -253px;
}

.active {
  border: 2px solid #000;
}

.inner {
  display: block;
  position: relative;
  margin: auto;
  width: 1280px;
  height: 100%;
}

.content .section .section_title {
  position: relative;
  color: #212121;
  font-size: 16px;
  font-weight: bold;
  line-height: 56px;
  border-top: 2px solid black;
}

.content .section .section_title .on {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 20px;
  font-weight: normal;
  font-size: 14px;
}

.content .section .section_title .on::after {
  content: "";
  position: absolute;
  display: block;
  top: 25px;
  right: 0;
  width: 14px;
  height: 14px;
  background-image: url(../img/spSw_window_svg.svg);
  background-size: 628px 615px;
  background-position: -345px -344px;
}

.content .section .section_title .filter_wrap {
  position: absolute;
  right: 0;
  font-size: 13px;
  line-height: 34px;
  font-weight: normal;
  border: 1px solid #ddd;
  z-index: 10;
  background-color: #fff;
}

.content .section .section_title .filter_wrap .filter_list .filter_item {
  padding: 0 15px;
}

.content .section .section_title .filter_wrap .point {
  color: #89bb6d;
}

.content .section .list_art {
  text-align: center;
  font-size: 0;
}

.content .section .list_art .item_art {
  display: inline-block;
  padding: 30px 5px;
  text-align: left;
  vertical-align: top;
}

.content .section .list_art .item_art .item_art_in {
  display: block;
}

.content .section .list_art .item_art .thumb {
  position: relative;
  width: 202px;
  height: 260px;
  border: 1px solid #ddd;
  background-size: cover;
}

.content .section .list_art .item_art .thumb button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  background-image: url(../img/spSw_window_list_svg.svg);
  background-size: 267px 214px;
  background-position: -42px -180px;
}

.content .section .list_art .item_art .sale {
  margin-right: 5px;
  color: red;
  font-size: 18px;
  font-weight: bold;
}

.content .section .list_art .item_art .price {
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
}

.content .section .list_art .item_art .info {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: block;
  margin-top: 10px;
  height: 50px;
  padding-bottom: 70px;
  width: 202px;
  color: #222;
  font-size: 12px;
}

.content .section .list_art .item_art .made {
  overflow: hidden;
  padding-top: 12px;
  border-top: 1px solid #ddd;
}

.content .section .list_art .item_art .made .made_logo {
  float: left;
}

.content .section .list_art .item_art .made .made_logo img {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.content .section .list_art .item_art .made span {
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 32px;
  text-indent: 10px;
  color: #666;
}

.content .section .list_art .art_list:hover span {
  text-decoration: underline;
}

.content .section .list_art .art_list:hover .thumb {
  border-color: #89bb6d;
}

.content .section .list_art .event .thumb {
  position: relative;
}

.content .section .list_art .event .thumb .text {
  position: absolute;
  padding: 45px 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 135px;
  height: 125px;
  font-size: 15px;
  text-align: center;
  background-color: #fff;
  opacity: 0.9;
}

.content .section .list_art .event .eventbx {
  position: relative;
  width: 202px;
  height: 165px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: #80b066;
}

.content .section .list_art .event .eventbx .event_title {
  display: inline-block;
  margin: 25px 0;
  width: 60px;
  height: 15px;
  background-image: url(../img/spSw_window_list_svg.svg);
  background-position: -202px -60px;
}

.content .section .list_art .event .eventbx strong {
  position: absolute;
  display: block;
  left: 50%;
  margin-left: -21px;
  bottom: 30px;
  margin-top: 10px;
  opacity: 0.5;
}

.content .content_navwrap {
  background-color: #89bb6d;
}

.content .content_navwrap .content_nav {
  height: 48px;
  text-align: center;
  color: #fff;
}

.content .content_navwrap .content_nav .content_nav_wrap {
  display: inline-block;
}

.content .content_navwrap .content_nav .content_nav_wrap .content_nav_in {
  display: block;
  padding: 15px 25px;
}

.content .visual .visual_slide {
  height: 152px;
  background-image: url(../img/bg_banner_work.55045c69.jpg);
}

.content .visual .visual_slide .visual_title {
  padding-top: 51px;
  text-align: center;
}

.content .visual .visual_slide .visual_title .thumb {
  margin: 0 auto;
  width: 96px;
  height: 30px;
  background-image: url(../img/spSw_window_svg.svg);
  background-size: 628px 615px;
  background-position: -160px -183px;
}

.content .visual .visual_slide .visual_title span {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  opacity: 0.6;
}

.content .visual .visual_nav {
  padding: 30px 0;
  background-color: #fff;
}

.content .visual .visual_nav .visual_nav_wrap {
  text-align: center;
  font-size: 0;
  border-bottom: 1px solid #ddd;
}

.content .visual .visual_nav .visual_nav_wrap .visual_nav_menu {
  display: inline-block;
  width: 93px;
  height: 108px;
  color: #222;
  font-size: 14px;
}

.content .visual .visual_nav .visual_nav_wrap .visual_nav_menu .visual_nav_menu_in {
  display: block;
  width: 100%;
  height: 100%;
}

.content .visual .visual_nav .visual_nav_wrap .visual_nav_menu .thumb {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-image: url(../img/spSw_category_art_png.png);
  background-size: 200px 200px;
}

.content .visual .visual_nav .visual_nav_wrap .visual_nav_menu .text {
  display: block;
  margin-top: 10px;
}

.content .visual .visual_nav .visual_nav_wrap .visual_nav_menu:nth-child(1) .thumb {
  background-position: 0 0;
}

.content .visual .visual_nav .visual_nav_wrap .visual_nav_menu:nth-child(2) .thumb {
  background-position: -136px -136px;
}

.content .visual .visual_nav .visual_nav_wrap .visual_nav_menu:nth-child(3) .thumb {
  background-position: 0px -136px;
}

.content .visual .visual_nav .visual_nav_wrap .visual_nav_menu:nth-child(4) .thumb {
  background-position: -68px 0px;
}

.content .visual .visual_nav .visual_nav_wrap .visual_nav_menu:nth-child(5) .thumb {
  background-position: -136px -68px;
}

.content .visual .visual_nav .visual_nav_wrap .visual_nav_menu:nth-child(6) .thumb {
  background-position: -68px -136px;
}

.content .visual .visual_nav .visual_nav_wrap .visual_nav_menu:nth-child(7) .thumb {
  background-position: -136px 0px;
}

.content .visual .visual_nav .visual_nav_wrap .visual_nav_menu:nth-child(8) .thumb {
  background-position: 0px -68px;
}

.content .today .thumb {
  position: relative;
  overflow: hidden;
}

.content .today .thumb img {
  position: absolute;
  margin: auto;
  right: -50%;
  left: -50%;
  width: auto;
  height: 100%;
}

@media (max-width: 1365px) {
  .inner {
    width: 940px;
  }
  header {
    min-width: 990px;
  }
  header .hd_mid .category .cate_digital {
    display: none;
  }
  header .hd_mid .category .cate_kids {
    display: none;
  }
  header .hd_btm nav .menu_wrap {
    width: 750px;
    height: 45px;
  }
  .content {
    min-width: 990px;
  }
  .content .section .art_wrap .art_list .thumb {
    width: 178px;
  }
  .content .section .art_wrap .art_list .info {
    width: 178px;
  }
  .content .section .art_wrap .event .eventbx {
    width: 178px;
  }
}
