*, :before, :after {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: inherit;
  font-style: inherit;
  border: 0 solid transparent;
  outline: 0 solid transparent;
  background: transparent none center center no-repeat;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

table {
  table-layout: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

label, button, [type=button], [type=submit], [type=reset], a {
  cursor: pointer;
}

img {
  display: block;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.active {
  border: 2px solid #000;
}

.inner {
  display: block;
  position: relative;
  margin: auto;
  width: 1280px;
  height: 100%;
}

.hd_top {
  position: relative;
  height: 36px;
  background: url(../img/bg_gheader.dfb78f0a.jpg) no-repeat 100% 0;
}

.hd_top a {
  display: block;
  width: 100%;
  height: 100%;
}

.hd_top .naver {
  float: left;
  margin-top: 11px;
  width: 48px;
  height: 13px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -358px -234px;
}

.hd_top .naverpay {
  float: left;
  margin: 11px 0 0 20px;
  width: 67px;
  height: 13px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -77px -253px;
}

.hd_top .gnb_right {
  float: right;
  padding-top: 8px;
}

.hd_top .gnb_right .login {
  float: left;
}

.hd_top .gnb_right .login a {
  display: block;
  width: 45px;
  height: 20px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.hd_top .gnb_right .service {
  float: left;
  margin: 1px 0 0 15px;
  width: 18px;
  height: 18px;
  background-image: url(../img/sp_gnb_v14.png);
  background-position: -261px -120px;
}

.hd_top::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.hd_mid {
  height: 66px;
  background: url(../img/bg_gheader.dfb78f0a.jpg) no-repeat 100% 0;
}

.hd_mid .logo {
  float: left;
  padding-top: 18px;
  margin-right: 18px;
}

.hd_mid .logo a {
  display: block;
  width: 68px;
  height: 28px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: 0 -183px;
}

.hd_mid form {
  float: left;
  padding-top: 16px;
}

.hd_mid fieldset {
  width: 430px;
  height: 34px;
  background-color: #olive;
}

.hd_mid .searchwrap {
  overflow: hidden;
  float: left;
  width: 430px;
  padding-top: 18px;
}

.hd_mid .searchwrap input {
  float: left;
  width: 267px;
  height: 32px;
  background-color: #fff;
}

.hd_mid .searchwrap .more_btn {
  float: left;
  width: 31px;
  height: 32px;
  background-color: #fff;
}

.hd_mid .searchwrap .more_btn span {
  width: 7px;
  height: 4px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -413px -151px;
}

.hd_mid .searchwrap .search_btn {
  float: left;
  width: 50px;
  height: 34px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: 0 -215px;
}

.hd_mid .category {
  float: left;
  padding-top: 20px;
}

.hd_mid .category button {
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
}

.hd_mid .category .cate_digital {
  width: 97px;
  height: 26px;
  background-position: -101px -123px;
}

.hd_mid .category .cate_kids {
  margin-left: 7px;
  width: 69px;
  height: 26px;
  background-position: -72px -183px;
}

.hd_mid .category .cate_more {
  margin-left: 10px;
  width: 114px;
  height: 26px;
  background-position: -118px -93px;
}

.hd_mid .btn {
  position: absolute;
  top: 26px;
  right: 20px;
}

.hd_mid .btn a {
  float: left;
  width: 60px;
  height: 14px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -292px -238px;
}

.hd_mid .btn .allmall {
  position: relative;
  margin-left: 27px;
  background-position: -292px -166px;
}

.hd_mid .btn a + a::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -13px;
  display: block;
  width: 1px;
  height: 14px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -413px -170px;
}

.hd_mid .btn .shoppingmy {
  position: relative;
  margin-left: 27px;
  width: 80px;
  background-position: -13px -160px;
}

.hd_btm {
  border-bottom: 1px solid #ddd;
}

.hd_btm nav {
  overflow: hidden;
  font-size: 0;
}

.hd_btm nav ul {
  display: inline-block;
  color: transparent;
}

.hd_btm nav ul li {
  float: left;
}

.hd_btm nav ul li span {
  display: block;
  height: 15px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
}

.hd_btm nav ul li a {
  display: block;
  padding: 15px 8px;
  width: 100%;
  height: 100%;
}

.hd_btm nav ul .manu1 span {
  width: 15px;
  background-position: -81px -364px;
}

.hd_btm nav ul .manu2 span {
  width: 61px;
  background-position: -292px -57px;
}

.hd_btm nav ul .manu3 span {
  width: 61px;
  background-position: -202px -271px;
}

.hd_btm nav ul .manu4 span {
  width: 61px;
  background-position: -292px -19px;
}

.hd_btm nav ul .manu5 span {
  width: 73px;
  background-position: -54px -234px;
}

.hd_btm nav ul .manu6 span {
  width: 51px;
  background-position: -0px -308px;
}

.hd_btm nav ul .manu7 span {
  width: 51px;
  background-position: -54px -327px;
}

.hd_btm nav ul .manu8 span {
  width: 51px;
  background-position: -108px -327px;
}

.hd_btm nav ul .manu9 span {
  width: 51px;
  background-position: -220px -308px;
}

.hd_btm nav ul .manu10 span {
  width: 38px;
  background-position: -358px -305px;
}

.hd_btm nav ul .manu11 span {
  width: 64px;
  background-position: -68px -271px;
}

.hd_btm nav ul .manu12 span {
  width: 51px;
  background-position: -110px -308px;
}

.hd_btm nav ul .manu13 span {
  position: relative;
  margin-left: 20px;
  width: 27px;
  background-position: -31px -364px;
}

.hd_btm nav ul .manu13 span::before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: -18px;
  width: 1px;
  height: 13px;
  background-color: #ddd;
}

.hd_btm nav ul .manu14 span {
  width: 51px;
  background-position: -235px -215px;
}

.hd_btm nav ul .manu15 span {
  width: 37px;
  background-position: -244px -136px;
}

.hd_btm .artwin_search {
  position: absolute;
  margin-top: 7px;
  top: 0;
  right: 0;
  width: 215px;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.hd_btm .artwin_search input {
  padding: 7px 0 0 15px;
  font-size: 14px;
}

.hd_btm .artwin_search .search_icon {
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
  width: 19px;
  height: 18px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -214px -36px;
}

.content .tab_nav .nav_wrap {
  font-size: 0;
  border-bottom: 1px solid #000;
}

.content .tab_nav .nav_list {
  position: relative;
  display: inline-block;
  width: 255px;
  height: 45px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  line-height: 45px;
  background-color: #f3f5f7;
}

.content .tab_nav .nav_list a {
  display: block;
}

.content .tab_nav li + li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 1px;
  height: 20px;
  background-color: #ddd;
}

.content .content_inner {
  display: block;
  position: relative;
  margin: auto;
  width: 1020px;
  height: 100%;
}

.content .content_fix {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 117px;
  border-bottom: 1px solid #000;
  background-color: #fff;
  z-index: 9999;
}

.content .content_fix .fix_wrap {
  position: relative;
  padding: 10px 0;
  font-size: 0;
}

.content .content_fix .fix_wrap .thumb {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../img/photo_no1_small.jpg);
  background-size: cover;
}

.content .content_fix .fix_wrap .info {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.5;
  vertical-align: top;
}

.content .content_fix .fix_wrap .info .point {
  color: #89bb6d;
}

.content .content_fix .fix_wrap button {
  position: absolute;
  top: 10px;
  right: 0;
  width: 165px;
  height: 44px;
  font-size: 0;
  background-color: #3fc910;
}

.content .content_fix .fix_wrap button span {
  font-size: 15px;
  color: #fff;
}

.content .content_fix .fix_wrap button span::before {
  content: "";
  display: inline-block;
  margin-right: 7px;
  width: 20px;
  height: 20px;
  width: 21px;
  height: 21px;
  background: transparent url(../img/sp/sp_icon.png) -92px 0px/113px 92px;
  vertical-align: bottom;
}

.content .content_fix .nav_wrap {
  position: absolute;
  bottom: 0;
  border-bottom-width: 0;
}

.content .content_header {
  overflow: hidden;
  border-bottom: 2px solid #000;
}

.content .content_header .content_header_category {
  float: left;
  margin-left: 50px;
}

.content .content_header .content_header_category a {
  vertical-align: middle;
  line-height: 54px;
  color: #666;
  font-size: 13px;
}

.content .content_header .content_header_category .cate1 {
  position: relative;
}

.content .content_header .content_header_category .cate1::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -5px;
  left: -40px;
  width: 17px;
  height: 17px;
  width: 32px;
  height: 32px;
  background: transparent url(../img/sp/sp_icon.png) 0px 0px/113px 92px;
}

.content .content_header .content_header_category .cate1::after {
  content: " >";
}

.content .content_header .content_header_category .cate2::after {
  content: " >";
}

.content .content_header .content_header_route {
  float: right;
  margin-top: 13px;
  font-size: 0;
}

.content .content_header .content_header_route a {
  display: inline-block;
  width: 28px;
  height: 28px;
}

.content .content_header .content_header_route a + a {
  margin-left: 5px;
}

.content .content_header .content_header_route .blog {
  width: 28px;
  height: 28px;
  background: transparent url(../img/sp/sp_icon.png) -32px -32px/113px 92px;
}

.content .content_header .content_header_route .cafe {
  width: 27px;
  height: 29px;
  background: transparent url(../img/sp/sp_icon.png) -64px -28px/113px 92px;
}

.content .content_header .content_header_route .favorite {
  width: 27px;
  height: 28px;
  background: transparent url(../img/sp/sp_icon.png) 0px -64px/113px 92px;
}

.content .content_header .content_header_route .note {
  width: 28px;
  height: 28px;
  background: transparent url(../img/sp/sp_icon.png) -64px 0px/113px 92px;
}

.content .content_header .content_header_route .share {
  width: 26px;
  height: 25px;
  background: transparent url(../img/sp/sp_icon.png) -27px -64px/113px 92px;
}

.content .content_product {
  padding: 30px 0;
}

.content .content_product .content_product_buy {
  font-size: 0;
  text-align: center;
}

.content .content_product .content_product_buy .leftbx {
  display: inline-block;
  width: 510px;
  height: 700px;
  border: 1px solid #ddd;
  border-right-width: 0px;
  vertical-align: top;
}

.content .content_product .content_product_buy .leftbx .viewbx {
  padding: 60px 0;
  border-bottom: 1px solid #ddd;
}

.content .content_product .content_product_buy .leftbx .viewbx .photo {
  position: relative;
  width: 100%;
  height: 370px;
}

.content .content_product .content_product_buy .leftbx .viewbx .photo img {
  width: 100%;
  height: 370px;
}

.content .content_product .content_product_buy .leftbx .viewbx .photo .item {
  display: none;
  position: absolute;
}

.content .content_product .content_product_buy .leftbx .viewbx .photo button {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -16.5px;
  width: 23px;
  height: 33px;
  background-color: red;
}

.content .content_product .content_product_buy .leftbx .viewbx .photo .prev {
  width: 32px;
  height: 32px;
  background: transparent url(../img/sp/sp_icon.png) -32px 0px/113px 92px;
  left: 15px;
}

.content .content_product .content_product_buy .leftbx .viewbx .photo .next {
  width: 32px;
  height: 32px;
  background: transparent url(../img/sp/sp_icon.png) 0px -32px/113px 92px;
  right: 15px;
}

.content .content_product .content_product_buy .leftbx .view_list {
  padding: 15px 0 80px;
  font-size: 0;
}

.content .content_product .content_product_buy .leftbx .view_list .view_item {
  display: inline-block;
  margin: 2px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.content .content_product .content_product_buy .leftbx .view_list .view_item img {
  width: 100%;
  height: 100%;
}

.content .content_product .content_product_buy .leftbx .review {
  padding: 0 40px;
  font-size: 13px;
  text-align: left;
}

.content .content_product .content_product_buy .leftbx .review span {
  display: inline-block;
}

.content .content_product .content_product_buy .leftbx .review span strong {
  font-size: 20px;
}

.content .content_product .content_product_buy .leftbx .review .review_score {
  position: relative;
  margin-left: 20px;
}

.content .content_product .content_product_buy .leftbx .review .review_score::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: -13px;
  width: 3px;
  height: 3px;
  background-color: #888;
}

.content .content_product .content_product_buy .leftbx .review p {
  margin-top: 7px;
  color: #888;
}

.content .content_product .content_product_buy .rightbx {
  display: inline-block;
  padding: 30px;
  width: 510px;
  height: 700px;
  font-size: 16px;
  text-align: left;
  border: 1px solid #ddd;
}

.content .content_product .content_product_buy .rightbx legend {
  font-size: 0;
}

.content .content_product .content_product_buy .rightbx .title {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.content .content_product .content_product_buy .rightbx .title strong {
  font-size: 27px;
}

.content .content_product .content_product_buy .rightbx .title strong .price {
  display: block;
  margin-top: 10px;
  color: #89bb6d;
  font-size: 23px;
}

.content .content_product .content_product_buy .rightbx .selectbx {
  display: block;
  width: 448px;
  padding: 8px 15px;
  font-size: 14px;
  text-align: left;
  border: 1px solid #ddd;
  cursor: pointer;
}

.content .content_product .content_product_buy .rightbx .selectbx_detail {
  position: absolute;
  top: 52px;
  left: 0;
  width: 448px;
  height: 75px;
  border: 1px solid #888;
  background-color: #fff;
}

.content .content_product .content_product_buy .rightbx .selectbx_detail .selectbx_detail_list:first-child {
  border-bottom: 1px solid #ddd;
}

.content .content_product .content_product_buy .rightbx .selectbx_detail .selectbx_detail_list {
  padding: 0 5px;
}

.content .content_product .content_product_buy .rightbx .selectbx_detail .selectbx_detail_list a {
  display: block;
  height: 36px;
  color: #888;
  font-size: 14px;
  line-height: 36px;
  text-indent: 8px;
}

.content .content_product .content_product_buy .rightbx .selectbx_detail .selectbx_detail_list:hover {
  background-color: #efefef;
}

.content .content_product .content_product_buy .rightbx .selectbx_detail .selectbx_detail_list:hover a {
  color: #000;
}

.content .content_product .content_product_buy .rightbx .selectbx:hover {
  border-color: #000;
}

.content .content_product .content_product_buy .rightbx .help {
  display: inline-block;
  margin-left: 5px;
  width: 15px;
  height: 15px;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  border: 1px solid #888;
  vertical-align: middle;
}

.content .content_product .content_product_buy .rightbx .delivery {
  position: relative;
  padding: 17px 0;
  color: #333;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}

.content .content_product .content_product_buy .rightbx .delivery p {
  margin-top: 8px;
}

.content .content_product .content_product_buy .rightbx .delivery p strong {
  margin-left: 15px;
}

.content .content_product .content_product_buy .rightbx .delivery p .point {
  color: #89bb6d;
}

.content .content_product .content_product_buy .rightbx .delivery .text {
  color: #999;
}

.content .content_product .content_product_buy .rightbx .option {
  position: relative;
  padding: 17px 0;
}

.content .content_product .content_product_buy .rightbx .total {
  margin-top: 17px;
  overflow: hidden;
  font-size: 14px;
}

.content .content_product .content_product_buy .rightbx .total strong {
  line-height: 28px;
}

.content .content_product .content_product_buy .rightbx .total .total_price {
  float: right;
}

.content .content_product .content_product_buy .rightbx .total .total_price span {
  padding-right: 10px;
  color: #666;
  border-right: 1px solid #ddd;
}

.content .content_product .content_product_buy .rightbx .total .total_price .price {
  padding-left: 10px;
  color: #89bb6d;
  font-size: 23px;
  vertical-align: middle;
}

.content .content_product .content_product_buy .rightbx .buttonarea {
  padding: 10px 0;
}

.content .content_product .content_product_buy .rightbx .buttonarea a {
  display: block;
}

.content .content_product .content_product_buy .rightbx .buttonarea .buttonbx {
  font-size: 0;
  text-align: center;
}

.content .content_product .content_product_buy .rightbx .buttonarea .buttonbx button {
  display: inline-block;
  margin: 2px;
  width: 220px;
  height: 50px;
  color: #fff;
  font-size: 16px;
}

.content .content_product .content_product_buy .rightbx .buttonarea .buttonbx .no1 {
  background-color: #3fc910;
}

.content .content_product .content_product_buy .rightbx .buttonarea .buttonbx .no1 a {
  position: relative;
}

.content .content_product .content_product_buy .rightbx .buttonarea .buttonbx .no1 a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 55px;
  width: 20px;
  height: 20px;
  width: 21px;
  height: 21px;
  background: transparent url(../img/sp/sp_icon.png) -92px 0px/113px 92px;
}

.content .content_product .content_product_buy .rightbx .buttonarea .buttonbx .no2 {
  color: #222;
  border: 1px solid #ddd;
}

.content .content_product .content_product_buy .rightbx .buttonarea .buttonbx .no2 a {
  position: relative;
}

.content .content_product .content_product_buy .rightbx .buttonarea .buttonbx .no2 a::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 55px;
  width: 20px;
  height: 20px;
  width: 25px;
  height: 25px;
  background: transparent url(../img/sp/sp_icon.png) -53px -64px/113px 92px;
}

.content .content_product .content_product_buy .rightbx .buttonarea .buttonbx .no3 {
  background-color: #555;
}

.content .content_product .content_product_buy .rightbx .buttonarea .buttonbx .no4 {
  background-color: #555;
}

.content .content_product .content_product_buy .rightbx .info {
  position: relative;
  margin-left: 20px;
  font-size: 12px;
  color: #888;
}

.content .content_product .content_product_buy .rightbx .info .point {
  margin-left: 10px;
  font-weight: bold;
  color: #3fc910;
}

.content .content_product .content_product_buy .rightbx .info .point::after {
  content: " >";
}

.content .content_product .content_product_buy .rightbx .info::before {
  content: "?";
  display: block;
  position: absolute;
  top: 0;
  left: -20px;
  width: 15px;
  height: 15px;
  border: 1px solid #ddd;
  border-radius: 50%;
  text-align: center;
}

.content .content_product .content_product_buy .rightbx .pointbx {
  padding: 18px 0;
  font-size: 12px;
}

.content .content_product .content_product_buy .rightbx .pointbx .eventbx {
  padding: 15px;
  border: 1px solid #ddd;
  background-color: rgba(0, 0, 0, 0.05);
}

.content .content_product .content_product_buy .rightbx .pointbx .eventbx a {
  display: block;
}

.content .content_product .content_product_buy .rightbx .pointbx .eventbx .point {
  color: #3fc910;
}

.content .content_product .content_product_buy .rightbx .pointbx dl {
  padding: 15px 0;
}

.content .content_product .content_product_buy .rightbx .pointbx dl dt {
  display: inline-block;
  position: relative;
  margin: 10px 0 0 20px;
  width: 100px;
  color: #888;
}

.content .content_product .content_product_buy .rightbx .pointbx dl dt::before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: -15px;
  width: 3px;
  height: 3px;
  background-color: #888;
  border-radius: 50%;
}

.content .content_product .content_product_buy .rightbx .pointbx dl dd {
  display: inline-block;
  width: 310px;
}

.content .content_product .event {
  margin: 40px auto 0;
  border: 1px solid #ddd;
  width: 1020px;
}

.content .content_product .event a {
  display: block;
}

.content .content_product .event a img {
  width: 1018px;
}

.content .content_information {
  font-size: 13px;
}

.content .content_information .titlebx {
  padding-bottom: 15px;
  border-bottom: 2px solid #000;
}

.content .content_information .titlebx .title {
  font-size: 25px;
}

.content .content_information .titlebx p {
  padding: 20px 0 0;
  color: #888;
}

.content .content_information .titlebx p a {
  color: #000;
  text-decoration: underline;
}

.content .content_information .titlebx p span .point {
  position: relative;
  margin-right: 20px;
  color: #8ABB6D;
  line-height: 30px;
}

.content .content_information .titlebx p span .line::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: -10px;
  width: 1px;
  height: 10px;
  background-color: #888;
}

.content .content_information table {
  margin-top: 15px;
  border-spacing: 0;
  border-bottom: 1px solid #ededed;
}

.content .content_information table tr th {
  padding: 0 20px;
  width: 160px;
  height: 40px;
  color: #333;
  font-weight: normal;
  text-align: left;
  border-top: 1px solid #ededed;
  background-color: #fafafa;
}

.content .content_information table tr td {
  padding: 0 20px;
  width: 350px;
  color: #6e6e6e;
  border-top: 1px solid #ededed;
}

.content .content_information .table_title {
  margin-top: 20px;
  font-size: 16px;
}

.content .content_information .detail {
  padding: 20px 0;
}

.content .content_information .detail p {
  margin-top: 15px;
  color: #6e6e6e;
  text-align: right;
}

.content .content_information .detail p a {
  color: #000;
  text-decoration: underline;
}

.content .content_information .detail p::before {
  content: "!";
  display: inline-block;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.content .content_information .detail .col2 td {
  width: 860px;
}

.content .content_information .detail .col2_long th {
  width: 345px;
}

.content .content_information .detail .col2_long td {
  width: 675px;
}

.content .content_information .review {
  padding-top: 50px;
}

.content .content_information .qna {
  padding: 50px 0;
}

.content .content_information .qna .buttonarea {
  padding: 15px 0 0;
  font-size: 0;
}

.content .content_information .qna .buttonarea::after {
  display: block;
  clear: both;
  content: '';
}

.content .content_information .qna .buttonarea button {
  display: inline-block;
  padding: 10px 17px;
  font-size: 13px;
  color: #fff;
  background-color: #888;
}

.content .content_information .qna .buttonarea .left {
  background-color: #333;
  margin-right: 5px;
}

.content .content_information .qna .buttonarea .rightbx {
  float: right;
  position: relative;
}

.content .content_information .qna .buttonarea .rightbx .text {
  margin-right: 25px;
  font-size: 13px;
  line-height: 30px;
}

.content .content_information .qna .buttonarea .rightbx .on_off {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #999;
  border-radius: 10px;
}

.content .content_information .qna .buttonarea .rightbx .on_off span {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 8px;
  color: #fff;
}

.content .content_information .qna .buttonarea .rightbx .on_off .circle {
  position: absolute;
  top: -3px;
  left: -10px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #888;
}

.content .content_information .qna .buttonarea .filter {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  padding: 10px;
  width: 90px;
  height: 35px;
  color: #000;
  font-size: 13px;
  text-align: left;
  border: 1px solid #ddd;
  background-color: #fff;
  vertical-align: bottom;
}

.content .content_information .qna .buttonarea .filter .btn {
  display: block;
  position: absolute;
  top: 14px;
  right: 10px;
  border: 6px solid transparent;
  border-top-color: #888;
}

.content .content_information .qna .buttonarea .filter_detail {
  position: absolute;
  top: 34px;
  right: 0;
  width: 90px;
  height: 101px;
  background-color: #fff;
  border: 1px solid #888;
}

.content .content_information .qna .buttonarea .filter_detail .filter_detail_list a {
  padding: 7px;
  display: block;
  height: 33px;
  font-size: 14px;
  color: #888;
}

.content .content_information .qna .buttonarea .filter_detail .filter_detail_list:hover a {
  color: #6b90dc;
  font-weight: bold;
  background-color: #f5f7fc;
}

.content .content_information .qna .noticearea ul {
  font-size: 0;
}

.content .content_information .qna .noticearea ul li {
  border-bottom: 1px solid #ddd;
}

.content .content_information .qna .noticearea ul li .notice {
  display: inline-block;
  font-size: 13px;
}

.content .content_information .qna .noticearea ul li .col1 {
  width: 92px;
}

.content .content_information .qna .noticearea ul li .col2 {
  width: 741px;
}

.content .content_information .qna .noticearea ul li .col3 {
  width: 88px;
}

.content .content_information .qna .noticearea ul li .col4 {
  width: 99px;
}

.content .content_information .qna .noticearea ul .head {
  padding: 17px 0;
  text-align: center;
  height: 50px;
}

.content .content_information .qna .noticearea ul .body {
  padding: 26px 0;
  height: 68px;
  color: #888;
}

.content .content_information .qna .noticearea ul .body .secret::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  width: 15px;
  height: 15px;
  background: transparent url(../img/sp/sp_icon.png) -92px -21px/113px 92px;
}

.content .content_information .qna .pagenum {
  margin: 50px auto 0;
  width: 34px;
  height: 34px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 34px;
  cursor: pointer;
  background-color: #89bb6d;
}

.content .content_information .return .infobx .head {
  padding: 25px 0;
  height: 80px;
  text-align: center;
  background-color: #fafafa;
}

.content .content_information .return .infobx .head p {
  margin-top: 5px;
  color: #8f8f8f;
}

.content .content_information .return .infobx .table_title {
  margin-bottom: 15px;
}

.content .content_information .return .infobx table {
  margin-top: 0;
}

.content .content_information .return .infobx table td {
  color: #222;
}

.content .content_information .return .infobx table td span {
  line-height: 2;
}

.content .content_information .return .infobx table td .point {
  color: #8f8f8f;
}

footer {
  padding-top: 30px;
  font-size: 12px;
  color: #333;
  text-align: center;
  border: 1px solid #ebebeb;
}

footer .policy {
  margin-bottom: 15px;
}

footer .policy .list {
  position: relative;
  margin-left: 10px;
}

footer .policy a + a::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -6px;
  display: block;
  width: 1px;
  height: 11px;
  background-color: #d7d7d7;
}

footer .text {
  margin-bottom: 15px;
  color: #888;
}

footer address {
  margin-bottom: 15px;
  line-height: 20px;
}

footer address span, footer address a {
  position: relative;
  margin-left: 10px;
}

footer address .line::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -6px;
  display: block;
  width: 1px;
  height: 11px;
  background-color: #d7d7d7;
}

footer address a:hover {
  text-decoration: underline;
  color: #00ab0b;
}

footer .copyright {
  margin-bottom: 30px;
}

footer .copyright .logo {
  display: inline-block;
  margin-right: 7px;
  width: 63px;
  height: 11px;
  background-image: url(../img/spSv_global.png);
  background-size: 423px 400px;
  background-position: -148px -253px;
}
