button:focus {
  outline: dotted 1px #ccc;
}

#content {
  position: relative;
  z-index: 20;
}

#content > .editor_wrap {
  width: 1020px;
  margin: 0 auto;
}

/* 스마트에디터 */
.editor_wrap {
  padding: 10px 0 50px;
}

.full_height {
  width: auto !important;
  height: 100% !important;
}

@media screen and (max-width: 1364px) {
  #content {
    min-width: 990px;
  }
  #content.popup {
    min-width: auto;
  }
}

/* 패션윈도(백화점/아울렛/스타일) 태크 색상 */
.fashion_tag_color1 {
  background-color: #f6b737;
}
.fashion_tag_color2 {
  background-color: #e95c22;
}
.fashion_tag_color3 {
  background-color: #df7782;
}
.fashion_tag_color4 {
  background-color: #839973;
}
.fashion_tag_color5 {
  background-color: #0fa573;
}
.fashion_tag_color6 {
  background-color: #06796a;
}
.fashion_tag_color7 {
  background-color: #2eadb2;
}
.fashion_tag_color8 {
  background-color: #b468ea;
}
.fashion_tag_color9 {
  background-color: #d23a95;
}
.fashion_tag_color10 {
  background-color: #6c49b8;
}
.fashion_tag_color11 {
  background-color: #84136d;
}
.fashion_tag_color12 {
  background-color: #60365e;
}
.fashion_tag_color13 {
  background-color: #123a5d;
}
.fashion_tag_color14 {
  background-color: #003f7e;
}
.fashion_tag_color15 {
  background-color: #78bddb;
}
.fashion_tag_color16 {
  background-color: #6b6da6;
}
.fashion_tag_color17 {
  background-color: #c779b7;
}
.fashion_tag_color18 {
  background-color: #ad58af;
}
.fashion_tag_color19 {
  background-color: #89879f;
}

/* 스타일윈도 태그 색상 */
.style .tag_color1 {
  background-color : #bd57e3;
}
.style .tag_color2 {
  background-color : #7d4ba2;
}
.style .tag_color3 {
  background-color : #a6a0bb;
}
.style .tag_color4 {
  background-color : #9d4794;
}
.style .tag_color5 {
  background-color : #9f8ca5;
}
.style .tag_color6 {
  background-color : #8f90b6;
}
.style .tag_color7 {
  background-color : #ae82c4;
}
.style .tag_color8 {
  background-color : #634c8a;
}
.style .tag_color9 {
  background-color : #753eb2;
}
.style .tag_color10 {
  background-color : #8f78c6;
}
.style .tag_color11 {
  background-color : #aa8dc7;
}
.style .tag_color12 {
  background-color : #913d88;
}
.style .tag_color13 {
  background-color : #9b9db3;
}
.style .tag_color14 {
  background-color : #ac8daf;
}
.style .tag_color15 {
  background-color : #9f3f79;
}
.style .tag_color16 {
  background-color : #a28d99;
}
.style .tag_color17 {
  background-color : #884da7;
}
.style .tag_color18 {
  background-color : #9954ae;
}
.style .tag_color19 {
  background-color : #9b42a4;
}
.style .tag_color20 {
  background-color : #c27cc9;
}
.style .tag_color21 {
  background-color : #634a91;
}
.style .tag_color22 {
  background-color : #a88ec0;
}
.style .tag_color23 {
  background-color : #947cb0;
}
.style .tag_color24 {
  background-color : #b285ab;
}

