@import "./sp/sp_mixin.scss";
@import "./common/reset.scss";

.inner {display: block; position: relative; margin: auto; width: 1280px; height: 100%;}
.clearfix:after {content: ""; display: block; clear: both;}

 .hd_top {
   position: relative; 
   height: 36px; 
   background: url(../img/bg_gheader.dfb78f0a.jpg) no-repeat 100% 0;
    a {
      display: block; 
      width: 100%; 
      height: 100%;
    } 
    .naver {
      float: left; 
      margin-top: 11px; 
      width: 48px; 
      height: 13px; 
      background-image: url(../img/spSv_global.png); 
      background-size: 423px 400px; 
      background-position: -358px -234px;
      }
    .naverpay {
      float: left; 
      margin: 11px 0 0 20px; 
      width: 67px; 
      height: 13px; 
      background-image: url(../img/spSv_global.png); 
      background-size: 423px 400px; 
      background-position: -77px -253px;
      }
    .gnb_right {
      float: right;
      padding-top: 8px;
        .login {
          float: left;
          a {
            display: block;
            width: 45px;
            height: 20px;
            color: #fff;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            border: 1px solid rgba(0,0,0,0.1)
          }
        }
        .service {
          float: left;
          margin: 1px 0 0 15px;
          width: 18px;
          height: 18px;
          background-image: url(../img/sp_gnb_v14.png); 
          background-position: -261px -120px;
        }
    }
}
.hd_top:after {
  content: ""; 
  position: absolute; 
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px; 
  background-color: rgba(0,0,0,0.1)
}

.hd_mid {
  height: 66px; 
  background: url(../img/bg_gheader.dfb78f0a.jpg) no-repeat 100% 0;
    .logo {
      float: left;
      padding-top: 18px;
      margin-right: 18px;
      a {
        display: block;
        width: 68px;
        height: 28px;
        background-image: url(../img/spSv_global.png); 
        background-size: 423px 400px; 
        background-position: 0 -183px;
      }
    }
    form {
      float: left;
      padding-top: 16px;
    }
    fieldset {
      width: 430px;
      height: 34px;
      background-color: #olive;
    }
    .searchwrap {
      overflow: hidden;
      float: left;
      width: 430px;
      padding-top: 18px;
        input {
          float: left;
          width: 267px;
          height: 32px;
          background-color: #fff;
        }
        .more_btn {
          float: left;
          width: 31px;
          height: 32px;
          background-color: #fff;
          span {
            width: 7px;
            height: 4px;
            background-image: url(../img/spSv_global.png);
            background-size: 423px 400px;
            background-position: -413px -151px;
          }
        }
        .search_btn {
          button {
            float: left;
            width: 50px;
            height: 34px;
            background-image: url(../img/spSv_global.png);
            background-size: 423px 400px;
            background-position: 0 -215px;
          }
        }
    }
    .category {
      float: left;
      padding-top: 20px;
        button {
        background-image: url(../img/spSv_global.png); 
        background-size: 423px 400px;
        }
        .cate_digital {
        width: 97px; 
        height: 26px;
        background-position: -101px -123px;
        }
        .cate_kids {
        margin-left: 7px; 
        width: 69px;
        height: 26px;
        background-position: -72px -183px;
        }
        .cate_more {
        margin-left: 10px;
        width: 114px;
        height: 26px;
        background-position: -118px -93px;
        }
    }
    .btn {
      position: absolute;
      top: 26px;
      right: 20px;
        a {
        float: left;
        width: 60px;
        height: 14px;
        background-image: url(../img/spSv_global.png); 
        background-size: 423px 400px; 
        background-position: -292px -238px;
        }
        .allmall {
          position: relative;
          margin-left: 27px;
          background-position: -292px -166px;
        }
        a+a:before {
          content: "";
          position: absolute;
          top: 1px;
          left: -13px;
          display: block;
          width: 1px;
          height: 14px;
          background-image: url(../img/spSv_global.png); 
          background-size: 423px 400px; 
          background-position: -413px -170px;
        }
        .shoppingmy {
          position: relative;
          margin-left: 27px;
          width: 80px;
          background-position: -13px -160px;
        }
    }
}
.hd_btm {
  nav {
    overflow: hidden;
    font-size: 0;
      ul {
        display: inline-block;
        color: transparent;
          li {
            float: left;
              span {
                display: block;
                height: 15px;
                background-image: url(../img/spSv_global.png); 
                background-size: 423px 400px; 
              }
              a {
                display: block;
                padding: 15px 8px;
                width: 100%;
                height: 100%;
              }
          }
          .manu1 {
              span {
                width: 15px;
                background-position: -81px -364px;
              }
          }
          .manu2 {
              span {
              width: 61px;
              background-position: -292px -57px;
              }
          }
          .manu3 {
              span {
                width: 61px;
                background-position: -202px -271px;
              }
          }
          .manu4 {
              span {
                width: 61px;
                background-position: -292px -19px;
              }
          }
          .manu5 {
              span {
                width: 73px;
                background-position: -54px -234px;
              }
          }
          .manu6 {
              span {
                width: 51px;
                background-position: -0px -308px;
              }
          }
          .manu7 {
              span {
                width: 51px;
                background-position: -54px -327px;
              }
          }
          .manu8 {
              span {
                width: 51px;
                background-position: -108px -327px;
              }
          }
          .manu9 {
              span {
                width: 51px;
                background-position: -220px -308px;
              }
          }
          .manu10 {
              span {
                width: 38px;
                background-position: -358px -305px;
              }
          }
          .manu11 {
              span {
                width: 64px;
                background-position: -68px -271px;
              }
          }
          .manu12 {
              span {
                width: 51px;
                background-position: -110px -308px;
              }
          }
          .manu13 {
              span {
                position: relative;
                margin-left: 20px;
                width: 27px;
                background-position: -31px -364px;
              }
              span:before {
                content: "";
                display: block;
                position: absolute;
                top: 1px;
                left: -18px;
                width: 1px;
                height: 13px;
                background-color: #ddd;
              }
          }
          .manu14 {
              span {
                width: 51px;
                background-position: -235px -215px;
              }
          }
          .manu15 {
              span {
                width: 37px;
                background-position: -244px -136px;
              }
          }
      }
  }
  .artwin_search {
    position: absolute;
    margin-top: 7px;
    top: 0;
    right: 0;
    width: 215px;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 20px;
      input {
        padding: 7px 0 0 15px;
        font-size: 14px;
      }
      .search_icon {
        display: block;
        position: absolute;
        top: 5px;
        right: 10px;
        width: 19px;
        height: 18px;
        background-image: url(../img/spSv_global.png); 
        background-size: 423px 400px; 
        background-position: -214px -36px;

      }
  }
}
.content {
  .section {
    padding: 70px 0;
      .section_title {
        position: relative;
        color: #212121;
        font-size: 24px;
        text-align: center;
        font-weight: bold;
      }
      .section_title:before {
        content: "";
        display: block;
        position: absolute;
        top: 7px;
        left: 570px;
        width: 4px;
        height: 12px;
        transform: skewx(-30deg);
        background-color: #89bb6d;
      }
      .section_title:after {
        content: "";
        display: block;
        position: absolute;
        top: 7px;
        right: 570px;
        width: 4px;
        height: 12px;
        transform: skewx(-30deg);
        background-color: #89bb6d;
      }
      .moreview {
        position: relative;
        height: 40px;
          a {
            font-size: 14px;
            position: absolute;
            right: 0;
            padding-right: 25px;
          }
          a:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 17px;
            height: 17px;
            background-image: url(../img/spSw_window_svg.svg);
            background-size: 628px 615px;
            background-position: -336px -546px;
          }
        
      }
      .art_wrap {
        text-align: center;
          .art_list {
            display: inline-block;
            padding: 0 7px 30px 7px;
            text-align: left;
              .thumb {
                position: relative;
                width: 202px;
                height: 260px;
                border: 1px solid #ddd;
                  button {
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    width: 30px;
                    height: 30px;
                    background-image: url(../img/spSw_window_list_svg.svg);
                    background-size: 267px 214px;
                    background-position: -42px -180px;
                  }
              }
              .price {
                display: block;
                margin-top: 20px;
                font-size: 18px;
                font-weight: bold;
              }
              .price:after {
                content: "원";
                font-weight: normal;
              }
              .info {
                display: block;
                margin-top: 10px;
                padding-bottom: 50px;
                color: #222;
                font-size: 12px;
              }
              .made {
                overflow: hidden;
                padding-top: 12px;
                border-top: 1px solid #ddd;
                  .made_logo {
                    float: left;
                      img {
                        display: block;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        border: 1px solid #ddd;
                      }
                  }
                  span {
                    display: block;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 32px;
                    text-indent: 10px;
                    color: #666;
                  }
              }
            }
            .art_list:hover {
              .thumb {
                border-color: #89bb6d;
              }
            }
        }
  }//.section 공통 속성
  .content_nav {
    height: 48px;
    text-align: center;
    color: #fff;
    background-color: #89bb6d;
      li {
        display: inline-block;
          a {
           display: block;
           padding: 15px 25px;
          }
      }
  }
  .visual {
      .visual_slide {
        height: 325px;
        background-color: tomato;
     }
      .visual_nav {
        padding: 20px 0;
        background-color: #f6f6f6;
          ul {
            text-align: center;
              li {
                display: inline-block;
                width: 64px;
                height: 90px;
                color: #666;
                font-size: 14px;
                font-weight: bold;

                .thumb {
                  width: 64px;
                  height: 64px;
                  border-radius: 50%;
                  background-color: black;
                  background-image: url(../img/spSw_category_art_png.png);
                  background-size: 200px 200px;
                }
                .text {
                  display: block;
                  margin-top: 10px;
                }
              }
              li+li {
                margin-left: 30px;
              }
              .visual_nav_manu1 {
                .thumb {
                  background-position: -136px -136px;
                }
              }
              .visual_nav_manu2 {
                .thumb {
                  background-position: 0px -136px;
                }
              }
              .visual_nav_manu4 {
                .thumb {
                  background-position: -68px 0px;
                }
              }
              .visual_nav_manu5 {
                .thumb {
                  background-position: -136px -68px;;
                }
              }
              .visual_nav_manu6 {
                .thumb {
                  background-position: -68px -136px;
                }
              }
              .visual_nav_manu7 {
                .thumb {
                  background-position: -136px 0px;
                }
              }
              .visual_nav_manu8 {
                  .thumb {
                    background-position: 0px -68px;
                  }
              }
          }
      }
  }//.visual
  .today {
      .no1 {
          .thumb {
              background-image: url(../img/artlist_no1.jpg);
          }
      }
      .no2 {
          .thumb {
              background-image: url(../img/artlist_no2.jpg);
          }
      }
      .no3 {
          .thumb {
              background-image: url(../img/artlist_no3.jpg);
          }
      }
      .no4 {
          .thumb {
              background-image: url(../img/artlist_no4.jpg);
          }
      }
      .no5 {
          .thumb {
              background-image: url(../img/artlist_no5.jpeg);
          }
      }
      .no6 {
          .thumb {
              background-image: url(../img/artlist_no6.jpg);
          }
      }
  }//.today
  .design {
      .no1 {
        .thumb {
          background-image: url(../img/design_no1.jpeg);
        }
      }
      .no2 {
        .thumb {
          background-image: url(../img/design_no2.jpg);
        }
      }
      .no3 {
        .thumb {
          background-image: url(../img/design_no3.jpeg);
        }
      }
      .no4 {
        .thumb {
          background-image: url(../img/design_no4.jpg);
        }
      }
      .no5 {
        .thumb {
          background-image: url(../img/design_no5.jpg);
        }
      }
      .no6 {
        .thumb {
          background-image: url(../img/design_no6.jpg);
        }
      }
      
  }//.design
  .week {
    .designer_wrap {
      overflow: hidden;
        li+li {
          margin-left: 13px;
        }
        .designer_list {
          float: left;
          position: relative;
          width: 418px;
          height: 376px;
          border: 1px solid #ddd;
          background-size: cover;
          background-position: 0 0;
            .introduce {
              margin: 69px 0 0 190px;
              width: 180px;
              height: 85px;
                strong {
                  display: block;
                  margin-bottom: 10px;
                  font-size: 30px;
                }
                span {
                  color: #666;
                  font-size: 17px;
                }
            }
            .works {
              position: absolute;
              left: 0;
              bottom: 20px;
              display: inline-block;
              width: 418px;
              font-size: 0;
              text-align: center;
                a {
                  display: inline-block;
                  margin: 3px;
                    img {
                      display: block;
                      width: 116px;
                      height: 116px;
                      border: 1px solid #ddd;
                    }  
                }
            }
        }
        .no1 {
          background-image: url(../img/designer_no1.jpg);
        }
        .no2 {
          background-image: url(../img/designer_no2.jpg);
        }
        .no3 {
          background-image: url(../img/designer_no3.jpg);
        }
    }
  }//.week
  .gallery {
    padding-bottom: 100px;
      .gallery_wrap {
        font-size: 0;
          li+li {
            margin-left: 13px;
          }
          .gallery_list {
            position: relative;
            display: inline-block;
            width: 418px;
            height: 251px;
              .introduce {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 389px;
                height: 51px;
                font-size: 18px;
                line-height: 51px;
                text-indent: 20px;
                background-color: #fff;
                opacity: 0.9;
                  span {
                    color: #666;
                  }
              }
          }
          .no1 {
            background-image: url(../img/gallery_no1.jpg);
          }
          .no2 {
            background-image: url(../img/gallery_no2.jpg);
          }
          .no3 {
            background-image: url(../img/gallery_no3.jpg);
          }
      }
  }
}//.content

footer {
  padding-top: 30px;
  font-size: 12px;
  color: #333;
  text-align: center;
  border: 1px solid #ebebeb;
      .policy {
      margin-bottom: 15px;
        .list {
          position: relative;
          margin-left: 10px;
        }
        a+a:before {
          content: "";
          position: absolute;
          top: 1px;
          left: -6px;
          display: block;
          width: 1px;
          height: 11px;
          background-color: #d7d7d7;
        }
    }
    .text {
      margin-bottom: 15px;
      color: #888;

    }
    address {
      margin-bottom: 15px;
      line-height: 20px;
        span,a {
          position: relative;
          margin-left: 10px;
        }
        .line:before {
          content: "";
            position: absolute;
            top: 1px;
            left: -6px;
            display: block;
            width: 1px;
            height: 11px;
            background-color: #d7d7d7;
        }
        a:hover {
          text-decoration: underline;
          color: #00ab0b;
        }
    }
    .copyright {
      margin-bottom: 30px;
        .logo {
          display: inline-block;
          margin-right: 7px;
          width: 63px;
          height: 11px;
          background-image: url(../img/spSv_global.png); 
          background-size: 423px 400px; 
          background-position: -148px -253px;
        }
    }
}