@import "./sp/sp_mixin.scss";
@import "./sp/function.scss";

$color-bg: #f2f2f2;
$color-theme: #416399;

.outer {
  background-color: $color-bg;
  .inner {
    color: $color-theme;
    &:before {
      @include sprite-image("arrow_left_15x15_black", "png_icon");

      display: inline-block;
      content: '';
    }
  }
}