@import "./common/mixin.scss";
@import "./sp/sp_mixin.scss";
@import "./common/reset.scss";
@import "./import/header.scss";
@import "./import/footer.scss";

//grobal
.active {
  border: 2px solid #000;
}
.inner {
    @include inner
}
//body
.content {
  .section {
      .section_title {
        position: relative;
        color: #212121;
        font-size: 16px;
        font-weight: bold;
        line-height: 56px;
        border-top: 2px solid black;
          .on {
            position: absolute;
            top: 0;
            right: 0;
            padding-right: 20px;
            font-weight: normal;
            font-size: 14px;
          }
          .on::after {
            content: "";
            position: absolute;
            display: block;
            top: 25px;
            right: 0;
            width: 14px;
            height: 14px;
            background-image: url(../img/spSw_window_svg.svg);
            background-size: 628px 615px;
            background-position: -345px -344px;
          }
          .filter_wrap {
            position: absolute;
            right: 0;
            font-size: 13px;
            line-height: 34px;
            font-weight: normal;
            border: 1px solid #ddd;
            z-index: 10;
            background-color: #fff;
              .filter_list {
                  .filter_item {
                    padding: 0 15px;
                  }
              }
              .point {
                color: #89bb6d;
              }
          }
      }
      
      .list_art {
        text-align: center;
        font-size: 0;
          .item_art {
            display: inline-block;
            padding: 30px 5px;
            text-align: left;
            vertical-align: top;
              .item_art_in {
                display: block;
              }
              .thumb {
                position: relative;
                width: 202px;
                height: 260px;
                border: 1px solid #ddd;
                background-size: cover;
                  button {
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    width: 30px;
                    height: 30px;
                    background-image: url(../img/spSw_window_list_svg.svg);
                    background-size: 267px 214px;
                    background-position: -42px -180px;
                  }
              }
              .sale {
                margin-right: 5px;
                color: red;
                font-size: 18px;
                font-weight: bold;
              }
              .price {
                display: inline-block;
                margin-top: 20px;
                font-size: 18px;
              }
              .info {
                @include ellipsis(2)
                display: block;
                margin-top: 10px;
                height: 50px;
                padding-bottom: 70px;
                width: 202px;
                color: #222;
                font-size: 12px;
              }
              .made {
                overflow: hidden;
                padding-top: 12px;
                border-top: 1px solid #ddd;
                  .made_logo {
                    float: left;
                      img {
                        display: block;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        border: 1px solid #ddd;
                      }
                  }
                  span {
                    display: block;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 32px;
                    text-indent: 10px;
                    color: #666;
                  }
              }
            }
            .art_list:hover {
              span {
                text-decoration: underline;
              }
              .thumb {
                border-color: #89bb6d;
              }
            }
            .event {
                .thumb {
                  position: relative;
                    .text {
                      position: absolute;
                      padding: 45px 0;
                      top: 0;
                      left: 0;
                      bottom: 0;
                      right: 0;
                      margin: auto;
                      width: 135px;
                      height: 125px;
                      font-size: 15px;
                      text-align: center;
                      background-color: #fff;
                      opacity: 0.9;
                    }
                }
                .eventbx {
                  position: relative;
                  width: 202px;
                  height: 165px;
                  font-size: 14px;
                  color: #fff;
                  text-align: center;
                  background-color: #80b066;
                    .event_title {
                      display: inline-block;
                      margin: 25px 0;
                      width: 60px;
                      height: 15px;
                      background-image: url(../img/spSw_window_list_svg.svg);
                      background-position: -202px -60px;
                    }
                    strong {
                      position: absolute;
                      display: block;
                      left: 50%;
                      margin-left: -21px;
                      bottom: 30px;
                      margin-top: 10px;
                      opacity: 0.5;
                    }
                }
            }
        }
  }//.section 공통 속성
  .content_navwrap {
    background-color: #89bb6d;
      .content_nav {
        height: 48px;
        text-align: center;
        color: #fff;
          .content_nav_wrap {
            display: inline-block;
              .content_nav_in {
              display: block;
              padding: 15px 25px;
              }
          }
      }
  }
  .visual {
      .visual_slide {
        height: 152px;
        background-image: url(../img/bg_banner_work.55045c69.jpg);
          .visual_title {
            padding-top: 51px;
            text-align: center;
              .thumb {
                margin: 0 auto;
                width: 96px;
                height: 30px;
                background-image: url(../img/spSw_window_svg.svg);
                background-size: 628px 615px;
                background-position: -160px -183px;
              }
              span {
                display: inline-block;
                margin-top: 10px;
                color: #fff;
                opacity: 0.6;
              }

          }
     }
      .visual_nav {
        padding: 30px 0;
        background-color: #fff;
          .visual_nav_wrap {
            text-align: center;
            font-size: 0;
            border-bottom: 1px solid #ddd;
              .visual_nav_menu {
                display: inline-block;
                width: 93px;
                height: 108px;
                color: #222;
                font-size: 14px;
                .visual_nav_menu_in {
                  display: block;
                  width: 100%;
                  height: 100%;
                }
                .thumb {
                  display: inline-block;
                  width: 64px;
                  height: 64px;
                  border-radius: 50%;
                  background-image: url(../img/spSw_category_art_png.png);
                  background-size: 200px 200px;
                }
                .text {
                  display: block;
                  margin-top: 10px;
                }
              }
              .visual_nav_menu:nth-child(1) {
                .thumb {
                  background-position: 0 0;;
                }
              }
              .visual_nav_menu:nth-child(2) {
                .thumb {
                  background-position: -136px -136px;
                }
              }
              .visual_nav_menu:nth-child(3) {
                .thumb {
                  background-position: 0px -136px;
                }
              }
              .visual_nav_menu:nth-child(4) {
                .thumb {
                  background-position: -68px 0px;
                }
              }
              .visual_nav_menu:nth-child(5) {
                .thumb {
                  background-position: -136px -68px;;
                }
              }
              .visual_nav_menu:nth-child(6) {
                .thumb {
                  background-position: -68px -136px;
                }
              }
              .visual_nav_menu:nth-child(7) {
                .thumb {
                  background-position: -136px 0px;
                }
              }
              .visual_nav_menu:nth-child(8) {
                  .thumb {
                    background-position: 0px -68px;
                  }
              }
          }
      }
  }//.visual
  .today {
      .thumb {
        position: relative;
        overflow: hidden;
          img {
            position: absolute;
            margin: auto;
            right: -50%;
            left: -50%;
            width: auto;
            height: 100%;
          }
      }
      
  }//.today
}//.content





//media query

@import "./import/sub_media.scss";