@import "./common/mixin.scss";
@import "./sp/sp_mixin.scss";
@import "./common/reset.scss";
@import "./import/header.scss";
@import "./import/footer.scss";

//grobal
.active {
  border: 2px solid #000;
}
.inner {
    @include inner
}
.content {
    .tab_nav {
        .nav_wrap {
          font-size: 0;
          border-bottom: 1px solid #000;
        }
        .nav_list {
          position: relative;
          display: inline-block;
          width: 255px;
          height: 45px;
          font-size: 14px;
          text-align: center;
          font-weight: bold;
          line-height: 45px;
          background-color: #f3f5f7;
            a {
              display: block;
            }
        }
        .on {
          color: #fff;
          background-color: #444;
        }
        li+li::before {
          content: "";
          position: absolute;
          top: 12px;
          left: 0;
          width: 1px;
          height: 20px;
          background-color: #ddd;
        }
    }
    .content_inner {
      display: block;
      position: relative;
      margin: auto;
      width: 1020px;
      height: 100%;
    }
    .content_fix {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      height: 117px;
      border-bottom: 1px solid #000;
      background-color: #fff;
      z-index: 9999;
        .fix_wrap {
          position: relative;
          padding: 10px 0;
          font-size: 0;
            .thumb {
              display: inline-block;
              width: 50px;
              height: 50px;
              background-image: url(../img/photo_no1_small.jpg);
              background-size: cover;
            }
            .info {
              display: inline-block;
              padding: 5px 10px;
              font-size: 16px;
              line-height: 1.5;
              vertical-align: top;
                .point {
                  color: #89bb6d;
                }
            }
            button {
              position: absolute;
              top: 10px;
              right: 0;
              width: 165px;
              height: 44px;
              font-size: 0;
              background-color: #3fc910;
                span {
                  font-size: 15px;
                  color: #fff;
                }
                span::before {
                  content: "";
                  display: inline-block;
                  margin-right: 7px;
                  width: 20px;
                  height: 20px;
                  @include sprite-image("home_21x21_white", "icon")
                  vertical-align: bottom;
                }
            }
        }
        .nav_wrap {
          position: absolute;
          bottom: 0;
          border-bottom-width: 0;
        }  
    }
    .content_header {
      overflow: hidden;
      border-bottom: 2px solid #000;
        .content_header_category {
          float: left;
          margin-left: 25px;
            a {
              vertical-align: middle;
              line-height: 54px;
              color: #666;
              font-size: 13px;
            }
            .cate1 {
              position: relative;
            }
            .cate1::before {
              content: "";
              display: inline-block;
              position: absolute;
              top: -2px;
              left: -22px;
              width: 17px;
              height: 17px;
              opacity: 0.5;
              @include sprite-image("home_16x16_black", "icon");
            }
            .cate1::after {
              content: " >"
            }
            .cate2::after {
              content: " >"
            }
        }
        .content_header_route {
          float: right;
          margin-top: 13px;
          font-size: 0;
            a {
              display: inline-block;
              width: 28px;
              height: 28px;
            }
            a+a {
              margin-left: 5px;
            }
            .blog {
              @include sprite-image("blog_28x28_green", "icon");
            }
            .cafe {
              @include sprite-image("cafe_27x29_green", "icon");
            }
            .favorite {
              @include sprite-image("favorite_27x28_green", "icon");
            }
            .note {
              @include sprite-image("note_28x28_green", "icon");
            }
            .share {
              @include sprite-image("share_26x25_share", "icon");
            }
        }
    }
    .content_product {
      padding: 30px 0;
        .content_product_buy {
          font-size: 0;
          text-align: center;
            .leftbx {
              display: inline-block;
              width: 510px;
              height: 700px;
              border: 1px solid #ddd;
              border-right-width: 0px;
              vertical-align: top;
                .viewbx {
                  padding: 60px 0;
                  border-bottom: 1px solid #ddd;
                    .photo {
                      position: relative;
                      width: 100%;
                      height: 370px;
                        img {
                          width: 100%;
                          height: 370px;
                        }
                        .item {
                          display: none;
                          position: absolute;
                        }
                        button {
                          display: none;
                          position: absolute;
                          top: 50%;
                          margin-top: -16.5px;
                          width: 23px;
                          height: 33px;
                          background-color: red;
                        }
                        .prev {
                          @include sprite-image("arrow_left_32x32_black", "icon");
                          left: 15px;
                        }
                        .next {
                          @include sprite-image("arrow_right_32x32_black", "icon");
                          right: 15px;
                        }
                    }
                    .photo:hover button {
                      display: block;
                    }
                }
                .view_list {
                  padding: 15px 0 80px;
                  font-size: 0;
                    .view_item {
                      display: inline-block;
                      margin: 2px;
                      width: 40px;
                      height: 40px;
                      cursor: pointer;
                        img {
                          width: 100%;
                          height: 100%;
                        }
                    }
                }
                .review {
                  padding: 0 40px;
                  font-size: 13px;
                  text-align: left;
                    .text {
                      display: inline-block;
                        strong {
                          font-size: 20px;
                        }
                    }
                    .review_score {
                      position: relative;
                      margin-left: 20px;
                    }
                    .review_score::before {
                      content: "";
                      display: block;
                      position: absolute;
                      top: 10px;
                      left: -13px;
                      width: 3px;
                      height: 3px;
                      background-color: #888;;
                    }
                    p {
                      margin-top: 7px;
                      color: #888;
                    }
                }
            } 
            .rightbx {
              display: inline-block;
              padding: 30px;
              width: 510px;
              height: 700px;
              font-size: 16px;
              text-align: left;
              border: 1px solid #ddd;
                .title {
                  padding-bottom: 15px;
                  border-bottom: 1px solid #ddd;
                    strong {
                      font-size: 27px;
                        .price {
                          display: block;
                          margin-top: 10px;
                          color: #89bb6d;
                          font-size: 23px;

                        }
                    }
                }
                .selectbx {
                  display: block;
                  width: 448px;
                  padding: 8px 15px;
                  font-size: 14px;
                  text-align: left;
                  border: 1px solid #ddd;
                  cursor: pointer;
                }
                .selectbx::after {
                  content: '';
                  display: block;
                  position: absolute;
                  top: 30px;
                  right: 20px;
                  width: 14px;
                  height: 8px;
                  background-image: url(../img/spSw_product_detail_svg.svg);
                  background-size: 647px 626px;
                  background-position: -389px -433px;
                }
                .selectbx_detail {
                  position: absolute;
                  top: 52px;
                  left: 0;
                  width: 448px;
                  height: 75px;
                  border: 1px solid #888;
                  background-color: #fff;
                    .selectbx_detail_list:first-child {
                      border-bottom: 1px solid #ddd;
                    }
                    .selectbx_detail_list {
                        .selectbx_detail_list_in {
                          display: block;
                          padding: 0 5px;
                          height: 36px;
                          color: #888;
                          font-size: 14px;
                          line-height: 36px;
                          text-indent: 8px;
                        }
                    }
                    .selectbx_detail_list:hover {
                      background-color: #efefef;
                        a {
                          color: #000;
                        }
                    }
                }
                .selectbx:hover {
                  border-color: #000;
                }
                .help {
                  display: inline-block;
                  margin-left: 5px;
                  width: 15px;
                  height: 15px;
                  font-size: 10px;
                  line-height: 15px;  
                  text-align: center;
                  border: 1px solid #888;
                  vertical-align: middle;
                }
                .delivery {
                  position: relative;
                  padding: 17px 0;
                  color: #333;
                  font-size: 14px;
                  border-bottom: 1px solid #ddd;
                    p {
                      margin-top: 8px;
                        strong {
                          margin-left: 15px;
                        }
                        .point {
                          color: #89bb6d;
                        }
                    }
                    .text {
                      color: #999;
                    }
                }
                .option {
                  position: relative;
                  padding: 17px 0;
                }
                .total {
                  margin-top: 17px;
                  overflow: hidden;
                  font-size: 14px;
                    strong {
                      line-height: 28px;
                    }
                    .total_price {
                      float: right;
                        span {
                          padding-right: 10px;
                          color: #666;
                          border-right: 1px solid #ddd;
                        }
                        .price {
                          padding-left: 10px;
                          color: #89bb6d;
                          font-size: 23px;
                          vertical-align: middle;

                        }
                    }
                }
                .buttonarea {
                  padding: 10px 0;
                    .text {
                      display: block;
                    }
                    .buttonbx {
                      font-size: 0;
                      text-align: center;
                        button {
                          display: inline-block;
                          margin: 2px;
                          width: 220px;
                          height: 50px;
                          color: #fff;
                          font-size: 16px;
                        }
                        .no1 {
                          background-color: #3fc910;
                            .text {
                              position: relative;
                            }
                            .text::before {
                              content: "";
                              display: block;
                              position: absolute;
                              top: 0;
                              left: 55px;
                              width: 20px;
                              height: 20px;
                              @include sprite-image("home_21x21_white", "icon")
                            }
                        }
                        .no2 {
                          color: #222;
                          border: 1px solid #ddd;
                            .text {
                                position: relative;
                              }
                            .text::before {
                              content: "";
                              display: block;
                              position: absolute;
                              top: -2px;
                              left: 55px;
                              width: 20px;
                              height: 20px;
                              @include sprite-image("tak_25x25_white", "icon")
                            }
                        }
                        .no3 {
                          background-color: #555;
                        }
                        .no4 {
                          background-color: #555;
                        }
                    }
                }
                .info {
                  position: relative;
                  margin-left: 20px;
                  font-size: 12px;
                  color: #888;
                    .point {
                      margin-left: 10px;
                      font-weight: bold;
                      color : #3fc910;
                    }
                    .point::after {
                      content: " >";
                    }

                }
                .info::before {
                  content: "?";
                  display: block;
                  position: absolute;
                  top: 0;
                  left: -20px;
                  width: 15px;
                  height: 15px;
                  border: 1px solid #ddd;
                  border-radius: 50%;
                  text-align: center;
                }
                .pointbx {
                  padding: 18px 0;
                  font-size: 12px;
                    .eventbx {
                      padding: 15px;
                      border: 1px solid #ddd;
                      background-color: rgba(0,0,0,0.05);
                        span::before {
                          content: '';
                          display: inline-block;
                          margin-right: 5px;
                          vertical-align: middle;
                          @include sprite-image("naverpoint_50x19_green", "icon");
                        }
                        a {
                          display: block;
                        }
                        .point {
                          color: #3fc910;
                        }
                    }
                    dl {
                      padding: 15px 0;
                        dt {
                          display: inline-block;
                          position: relative;
                          margin: 10px 0 0 20px; 
                          width: 100px;
                          color: #888;
                        }
                        dt::before {
                          content: "";
                          display: block;
                          position: absolute;
                          top: 5px;
                          left: -15px;
                          width: 3px;
                          height: 3px;
                          background-color: #888;
                          border-radius: 50%;


                        }
                        dd{
                          display: inline-block;
                          width: 310px;

                        }
                    }
                }
            }
        }
        .event {
          margin: 40px auto 0;
          border: 1px solid #ddd;
          width: 1020px;
            a {
              display: block;
                img {
                  width: 1018px;
                }
            }
        }
    }//.content_product
    .content_information {
      padding-bottom: 50px;
      font-size: 13px;
        .pagenum {
          margin: 50px auto 0;
          width: 34px;
          height: 34px;
          color: #fff;
          font-weight: bold;
          text-align: center;
          line-height: 34px;
          cursor: pointer;
          background-color: #89bb6d;
            
        }
        .titlebx {
          padding-bottom: 15px;;
          border-bottom: 2px solid #000;
            .title {
              font-size: 25px;
            }
            p {
              padding: 20px 0 0;
              color: #888;
                a {
                  color: #000;
                  text-decoration: underline;
                }
                span {
                    .point{
                      position: relative;
                      margin-right: 20px;
                      color: #8ABB6D;
                      line-height: 30px;
                      
                    }
                    .line::after {
                      content: "";
                      display: block;
                      position: absolute;
                      top: 2px;
                      right: -10px;;
                      width: 1px;
                      height: 10px;
                      background-color: #888;
                    }
                }
            }
        }
        table {
          margin-top: 15px;
          border-spacing: 0;
          border-bottom: 1px solid #ededed;
            tr {
                .table_head {
                  padding: 10px 20px;
                  width: 160px;
                  height: 40px;
                  color: #333;
                  font-weight: normal;
                  text-align: left;
                  border-top: 1px solid #ededed;
                  background-color:#fafafa;
                }
                .table_body {
                  padding: 10px 20px;
                  width: 350px;
                  color: #6e6e6e;
                  border-top: 1px solid #ededed;
                }
            }
        }
        .table_title {
          display: block;
          margin-top: 20px;
          font-size: 16px;
        }
        .detail {
          padding: 20px 0;
            p {
              margin-top: 15px;
              color: #6e6e6e;
              text-align: right;
                a {
                  color: #000;
                  text-decoration: underline;
                }
            }
            p::before {
              content: "!";
              display: inline-block;
              margin-right: 5px;
              width: 15px;
              height: 15px;
              text-align: center;
              border: 1px solid #ddd;
              border-radius: 50%;
            }
            .detail {
                .table_body {
                  width: 860px;
                }
            }
            .condition {
                .table_head {
                  width: 345px;
                }
                .table_body {
                  width: 675px;
                }
            }
        }
        .review {
          padding-top: 50px;
            .review_title {
              display: block;
              margin-bottom: 20px;
              font-size: 18px;
            }
            .contentbx {
              padding: 30px 0 50px;
              border-bottom: 1px solid #000;
                .review_total {
                  overflow: hidden;
                  padding: 30px 0;
                  margin-bottom: 40px;
                  height: 210px;
                  background-color: #fcfcfc;
                    .bx {
                      float: left;
                      width: 270px;
                      height: 150px;
                        strong {
                          display: block;
                          margin-bottom: 30px;
                          font-size: 15px;
                          text-align: center;                          
                        }
                    }
                    .no1 {
                      margin-left: 150px;
                        .star_wrap {
                          font-size: 0;
                          text-align: center;
                            .star_list {
                              display: inline-block;
                              width: 28px;
                              height: 27px;
                              background: url(../img/spSw_product_detail_svg.svg) no-repeat -4px -118px;
                            }
                            .empty {
                              background-position: -164px -118px;
                            }
                            li+li {
                              margin-left: 3px;
                            }
                        }
                        .score {
                          margin-top: 20px;
                          font-size: 30px;
                          font-weight: bold;
                          text-align: center;
                            .gray {
                              color: #dfdfdf;
                              font-weight: normal;
                            }
                        }
                    }
                    .no2 {
                      font-size: 0;
                      text-align: center;
                        .review_icon {
                          display: inline-block;
                          width: 44px;
                          height: 41px;
                          background-image: url(../img/spSw_product_detail_svg.svg);
                          background-size: 647px 626px;
                          background-position: -382px -61px;
                        }
                        span {
                          display: block;
                          margin-top: 5px;
                          font-size: 30px;
                          font-weight: bold;
                        }
                    }
                    .no3 {
                        .bar_wrap {
                          font-size: 0;
                          text-align: center;
                            .bar_list {
                              display: inline-block;
                              padding: 0 15px;
                                .barbx {
                                  position: relative;
                                  display: inline-block;
                                  width: 8px;
                                  height: 62px;
                                  background-color: #e6e9f0;
                                  border: 1px solid #ddd;
                                  border-radius: 5px;
                                    .bar {
                                      position: absolute;
                                      bottom: 0;
                                      left: -1px;
                                      width: 8px;
                                      background-color: #ced4e1;
                                      border-radius: 5px;
                                    }
                                    .bar01 {
                                      height: 40px;
                                      background-color: red;
                                    }
                                    .bar02 {
                                      height: 20px;
                                    }
                                    .bar03 {
                                      height: 10px;
                                    }
                                    .bar04 {
                                      height: 10px;
                                    }
                                    .bar05 {
                                      height: 10px;
                                    }
                                }
                                span {
                                  display: block;
                                  margin-top: 10px;
                                  color: #888;
                                  font-size: 12px;
                                }
                            }
                        }

                    }
                }
                .review_photo {
                    .review_photo_wrap {
                      font-size: 0;
                        li+li {
                          margin-left: 10px;
                        }
                        .review_photo_list {
                            display: inline-block;
                            img {
                              width: 120px;
                              height: 120px;
                            }
                        }
                    }
                }
            }
            .reviewbx {
              padding: 40px 0;
                .reviewbx_head {
                    .reviewbx_head_top {
                      overflow: hidden;
                        .review_title {
                          float: left;
                        }
                        .filter {
                          float: right;
                          color: #888;
                          font-size: 0;
                            a {
                              display: inline-block;
                              position: relative;
                              margin-left: 20px;
                              font-size: 14px;
                            }
                            .on {
                              color: #000;
                            }
                            .on::before {
                              content: '';
                              display: inline-block;
                              margin-right: 3px;
                              width: 15px;
                              height: 15px;
                              vertical-align: middle;
                              @include sprite-image("check_16x16_black", "icon")
                            }
                            a+a::before {
                              content: '';
                              display: block;
                              position: absolute;
                              top: 2px;
                              left: -10px;
                              width: 1px;
                              height: 12px;
                              background-color: #e1e1e1;
                            }
                        }
                    }
                    .reviewbx_head_bottom {

                        .review_button_wrap {
                          font-size: 0;
                          border: 1px solid #ddd;
                            .review_button {
                              position: relative;
                              display: inline-block;
                              width: 254.5px;
                              height: 48px;
                              font-size: 13px;
                            }
                            .on {
                              color: #89bb6d;
                              font-weight: bold;
                              text-decoration: underline;
                            }
                            .review_button:not(:first-child)::before {
                              content: '';
                              display: block;
                              position: absolute;
                              width: 1px;
                              height: 15px;
                              background-color: #ddd;
                            }
                            .review_button:hover {
                              text-decoration: underline;
                            }
                        }
                        .review_notice_wrap {
                            .review_notice_list {
                              position: relative;
                              padding: 20px;
                              border-bottom: 1px solid #ddd;
                                span {
                                  position: relative;
                                  margin-right: 20px;
                                  font-size: 13px;
                                }
                                .report {
                                  position: relative;
                                  font-size: 13px;
                                }
                                .report::before {
                                  content: '';
                                  display: inline-block;
                                  position: absolute;
                                  top: 2px;
                                  left: -10px;
                                  width: 1px;
                                  height: 10px;
                                  background-color: #888;
                                }
                                .good {
                                  position: absolute;
                                  display: block;
                                  padding: 10px 0;
                                  top: 35px;
                                  right: 50px;
                                  width: 60px;
                                  height: 35px;
                                  border: 1px solid #ddd;
                                  border-radius: 20px;                                   
                                }
                                .good::before {
                                  content: '';
                                  display: inline-block;
                                  margin-right: 2px;
                                  width: 17px;
                                  height: 17px;
                                  vertical-align: middle;
                                  @include sprite-image("good_17x16_white", "icon")
                                }
                                .buyer {
                                  font-size: 0;
                                    .thumb {
                                      display: inline-block;
                                       img {
                                         width: 30px;
                                         height: 30px;
                                         margin-right: 10px;
                                         border-radius: 50%;
                                       }
                                    }
                                    .buyer_info {
                                      display: inline-block;
                                        .star_list {
                                          display: inline-block;
                                          width: 14px;
                                          height: 14px;
                                          margin-right: 2px;
                                          background: url(../img/spSw_product_detail_review_svg.svg) no-repeat -100px -26px;
                                        }
                                        .empty {
                                          background-position: -100px -4px;
                                        }
                                        strong {
                                          font-size: 15px;
                                        }
                                        p {
                                          color: #888;
                                          font-size: 0px;
                                            span+span::before {
                                              content: '';
                                              display: inline-block;
                                              position: absolute;
                                              top: 7px;
                                              left: -12px;
                                              width: 2px;
                                              height: 2px;
                                              background-color: #888;
                                            }
                                            
                                        }
                                    }
                                }
                                .review_text {
                                  margin: 15px 0 0 40px;
                                  color: #888;
                                  font-size: 14px;
                                  line-height: 1.5;
                                }
                                .seller {
                                  margin-top: 10px;
                                  height: 70px;
                                    .thumb {
                                      display: inline-block;
                                      vertical-align: top;
                                        img {
                                          width: 30px;
                                          height: 30px;
                                          margin-right: 10px;
                                          border-radius: 50%;
                                        }
                                    }
                                    .seller_info {
                                      display: inline-block;
                                        .seller_detail {
                                          padding: 5px 0;
                                          height: 40px;
                                          color: #888;
                                            strong {
                                              margin-right: 5px;
                                              color: #000;
                                            }
                                        }
                                    }
                                    .seller_text {
                                      text-align: left;
                                        .thank_text {
                                          padding: 10px;
                                          background-color: #ddd;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .qna {
          padding: 50px 0;
            .buttonarea {
              @include clearfix
              padding: 15px 0 0;
              font-size: 0;
                button {
                  display: inline-block;
                  padding: 10px 17px;
                  font-size: 13px;
                  color: #fff;
                  background-color: #888;
                }
                .left {
                  background-color: #333;
                  margin-right: 5px;
                }

                .rightbx {
                  float: right;
                  position: relative;
                    .text {
                      margin-right: 25px;
                      font-size: 13px;
                      line-height: 30px;
                    }
                    .on_off {
                      display: inline-block;
                      position: relative;
                      width: 40px;
                      height: 20px;
                      background-color: #999;
                      border-radius: 10px;
                        span {
                          display: inline-block;
                          position: absolute;
                          right: 5px;;
                          top: 5px;
                          font-size: 8px;
                          color :#fff;
                        }
                        .circle {
                          position: absolute;
                          top: -3px;
                          left: -10px;
                          width: 25px;
                          height: 25px;
                          background-color: #fff;
                          border-radius: 50%;
                          border: 1px solid #888;
                        }
                    }
                }
                .filter {
                  position: relative;
                  display: inline-block;
                  margin-left: 15px;
                  padding: 10px;
                  width: 90px;
                  height: 35px;
                  color: #000;
                  font-size: 13px;
                  text-align: left;
                  border: 1px solid #ddd;
                  background-color: #fff;
                  vertical-align: bottom;
                    &::after {
                      display: block;
                      position: absolute;
                      top: 14px;
                      right: 10px;
                      border: 6px solid transparent;
                      border-top-color: #888;
                      content: '';
                    }
                    &.on::after {
                      transform: rotate(180deg);
                    }
                }
                .filter_detail {
                  position: absolute;
                  top: 34px;
                  right: 0;
                  width: 90px;
                  height: 101px;
                  background-color: #fff;
                  border: 1px solid #888;
                    .filter_detail_list {
                        a {
                          padding: 7px;
                          display: block;
                          height: 33px;
                          font-size: 14px;
                          color: #888;
                        }
                    }
                    .filter_detail_list:hover {
                        a {
                          color: #6b90dc;
                          font-weight: bold;
                          background-color: #f5f7fc;

                        }
                    }
                }
            }
            .noticearea {
                ul {
                  font-size: 0;
                    li {
                      border-bottom: 1px solid #ddd;
                        .notice {
                          display: inline-block;
                          font-size: 13px;
                        }
                        .col1 {
                          width: 92px;
                        }
                        .col2 {
                          width: 741px;
                        }
                        .col3 {
                          width: 88px;
                        }
                        .col4 {
                          width: 99px;
                        }
                    }
                    .head {
                      padding: 17px 0;
                      text-align: center;
                      height: 50px;
                    }
                    .body {
                      padding: 26px 0;
                      height: 68px;
                      color: #888;
                        .secret::after {
                          content: "";
                          display: inline-block;
                          margin-left: 5px;
                          width: 20px;
                          height: 20px;
                          vertical-align: bottom;
                          @include sprite-image("lock_15x15_black", "icon");
                        }

                    }
                }
            }
        }
        .return {
            .infobx {
                .head {
                  padding: 25px 0;
                  height: 80px;
                  text-align: center;
                  background-color: #fafafa;
                  p {
                    margin-top: 5px;
                    color: #8f8f8f;
                  }
                }
                .table_title {
                  margin-bottom: 15px;
                }
                table {
                  margin-top: 0;
                    .table_body {
                      color: #222;
                        span {
                          line-height: 2;
                        }
                        .point {
                          color: #8f8f8f;
                        }
                    }
                }
                .naver_service {
                  margin-top: 30px;
                  padding: 20px;
                  height: 100px;
                  border: 1px solid #ddd;
                  background-color: #fcfcfc;
                    strong {
                      color: #888;
                      font-size: 16px;
                        span {
                          color: #000;
                        }
                    }
                    p {
                      margin-top: 5px;
                      color: #666;
                      line-height: 18px;
                        a {
                          color: #000;
                          text-decoration: underline;
                        }
                        a::after {
                          content: '>';
                        }
                    }
                }
            }
        }
        .precautions {
          padding-bottom: 50px;
          border-bottom: 1px solid #000;
            .precautions_wrap {
              margin-top: 5px;
              color: #888;
              font-size: 12px;
              line-height: 1.5;
                .precautions_list {
                  position: relative;
                  margin-left: 5px;
                }
                .precautions_list:nth-child(1) {
                  color: #89bb6d;
                }
                .precautions_list:nth-child(5) {
                  color: #000;
                }
                .precautions_list::before {
                  content: '';
                  display: block;
                  position: absolute;
                  top: 7px;
                  left: -5px;
                  width: 2px;
                  height: 2px;
                  background-color: #888;
                  border-radius: 50%;
                }
            }
            .precautions_service {
              margin-top: 20px;
              font-size: 0;
                .servicebx {
                  display: inline-block;
                  padding: 15px;
                  width: 510px;
                  height: 110px;
                  font-size: 12px;
                  background-color: #fcfcfc;
                  border: 1px solid #ddd;
                    p {
                      margin: 5px 0;
                      color: #888;
                      line-height: 1.5;;
                    }
                    a {
                      padding: 2px 4px;
                      border: 1px solid #ddd;
                      background-color: #fff;
                    }
                }
                .servicebx:nth-child(1) {
                  border-right-width: 0;
                }
            }
        }
    }
}

@import "./import/sub_detail_media.scss";
